<!-- Add new Fertilizer -->
<div *ngIf="addFertilizer">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo registro de compra de abonos y fertilizantes</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewFertilizer">
            <fieldset class="fieldset">
                <legend>Abono y fertilizante</legend>                    
                <label>Producto: </label>
                <input class="md1-input" formControlName="product" type="text" maxlength="25">
                <br><br>
                <label>Tipo de producto aplicado: </label>
                <input class="md2-input" formControlName="productType" type="text" maxlength="25">
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md3-input" formControlName="invoiceNumberPurchase" type="text" appOnlyNif>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input-date" formControlName="datePurchase" type="text" maxlength="10" placeholder="dd/mm/yyyy">
                <br><br>       
                <label>Cantidad adquirida (Kg): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" maxlength="10" appOnlyNumbers>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifOwnerError"><span class="material-icons" title="No existe un propietario con este NIF">notification_important</span></button>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="providerFullName" type="text">
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewFertilizerError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewFertilizerError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveFertilizerDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit Fertilizer -->
<div *ngIf="editFertilizer">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Registro de compra de abonos y fertilizantes</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditFertilizer">
            <fieldset class="fieldset">
                <legend>Abono y fertilizante</legend>           
                <label>Producto: </label>
                <input class="md1-input" formControlName="product" type="text" readonly>
                <br><br>
                <label>Tipo de producto aplicado: </label>
                <input class="md2-input" formControlName="productType" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md3-input" formControlName="invoiceNumberPurchase" type="text" readonly>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input" formControlName="datePurchase" type="text" readonly>
                <br><br>       
                <label>Cantidad adquirida (Kg): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" maxlength="10" appOnlyNumbers>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" readonly>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="providerFullName" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditFertilizerError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditFertilizerError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateFertilizerDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete Fertilizer -->
<div *ngIf="deleteFertilizer">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar registro de compra de abonos y fertilizantes</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteFertilizer">
            <fieldset class="fieldset">
                <legend>Abono y fertilizante</legend>           
                <label>Producto: </label>
                <input class="md1-input" formControlName="product" type="text" readonly>
                <br><br>
                <label>Tipo de producto aplicado: </label>
                <input class="md2-input" formControlName="productType" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md3-input" formControlName="invoiceNumberPurchase" type="text" readonly>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input" formControlName="datePurchase" type="text" readonly>
                <br><br>       
                <label>Cantidad adquirida (Kg): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" readonly>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="providerFullName" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminará el registro de compra seleccionado!</div>
            <button class="button-delete" (click)="deleteFertilizerDB()"><span class="material-icons" title="Guardar">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>
