.sidenav-container {
  height: 90%;
}

.sidenav {
  width: 170px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-list-item {
  font-size: 16px;
}
