<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['generalData']">Datos generales</a>
      <a mat-list-item [routerLink]="['machineries']">Maquinaria</a>
      <a mat-list-item [routerLink]="['plots']">Parcelas-Recintos</a>
      <a mat-list-item [routerLink]="['treatmentsRecord']">Tratamientos</a>
      <a mat-list-item [routerLink]="['accountingDataRecord']">Datos contables</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
