<!-- Add new outsider -->
<div *ngIf="addOutsider">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title class="reduceTitle"><b>Nueva persona o empresa ajena</b></h1>    
    <mat-dialog-content>
        <form [formGroup]="formNewOutsider">
            <fieldset class="fieldset">
                <legend>Datos de la persona o empresa ajena a la explotación que interviene 
                    directamente en los tratamientos con productos fitosanitarios</legend>       
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label><br><br>
                <label>Tipo de carnet: </label>
                <select class="md-select" formControlName="carnetType">
                    <option>Cualificado</option>
                    <option>No cualificado</option>
                </select>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" maxlength="15" appOnlyNif>
                <label class="label"> </label>      
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewOutsiderError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewOutsiderError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveOutsiderDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Update outsider -->
<div *ngIf="editOutsider">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title class="reduceTitle"><b>Persona o empresa ajena</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditOutsider">
            <fieldset class="fieldset">
                <legend>Datos de la persona o empresa ajena a la explotación que interviene 
                    directamente en los tratamientos con productos fitosanitarios</legend>        
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Tipo de carnet: </label>
                <select class="md-select" formControlName="carnetType">
                    <option>Cualificado</option>
                    <option>No cualificado</option>
                </select>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" maxlength="15" appOnlyNif>
                <label class="label"> </label>       
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditOutsiderError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditOutsiderError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateOutsiderDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete outsider -->
<div *ngIf="deleteOutsider">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title class="reduceTitle"><b>Eliminar persona o empresa ajena</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteOutsider">
            <fieldset class="fieldset">
                <legend>Datos de la persona o empresa ajena a la explotación que interviene 
                    directamente en los tratamientos con productos fitosanitarios</legend>        
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" readonly>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" readonly>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Tipo de carnet: </label>
                <input class="smd-input" formControlName="carnetType" type="text" readonly>
                <label class="label"> </label>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" readonly>
                <label class="label"> </label>     
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos de la persona o empresa seleccionada!</div>
            <button class="button-delete" title="Eliminar" (click)="deleteOutsiderDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>