<!-- Add new PhytosanitaryProduct -->
<div *ngIf="addPhytosanitaryProduct">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo registro de compra de productos fitosanitarios</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewPhytosanitaryProduct">
            <fieldset class="fieldset">
                <legend>Producto fitosanitario</legend>           
                <label>Nombre comercial: </label>
                <input class="md1-input" formControlName="tradeName" type="text">
                <br><br>
                <label>Materia activa: </label>
                <input class="md2-input" formControlName="activeMatter" type="text">
                <br><br>
                <label>Nº registro: </label>
                <input class="smd2-input" formControlName="registryNumber" type="text" maxlength="15" appOnlyNumbers>
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" maxlength="10" appOnlyNumbers>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md3-input" formControlName="invoiceNumberPurchase" type="text" appOnlyNif>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input-date" formControlName="datePurchase" type="text" maxlength="10" placeholder="dd/mm/yyyy">
                <br><br>       
                <label>Cantidad adquirida (unidades): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" maxlength="10" appOnlyNumbers>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifOwnerError"><span class="material-icons" title="No existe un propietario con este NIF">notification_important</span></button>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label>
                <br>
                <input class="xm-input" formControlName="providerFullName" type="text">
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewPhytosanitaryProductError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewPhytosanitaryProductError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="savePhytosanitaryProductDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit PhytosanitaryProduct -->
<div *ngIf="editPhytosanitaryProduct">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Registro de compra de productos fitosanitarios</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditPhytosanitaryProduct">
            <fieldset class="fieldset">
                <legend>Producto fitosanitario</legend>           
                <label>Nombre comercial: </label>
                <input class="md1-input" formControlName="tradeName" type="text" readonly>
                <br><br>
                <label>Materia activa: </label>
                <input class="md2-input" formControlName="activeMatter" type="text" readonly>
                <br><br>
                <label>Nº registro: </label>
                <input class="smd2-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md3-input" formControlName="invoiceNumberPurchase" type="text" readonly>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input" formControlName="datePurchase" type="text" readonly>
                <br><br>       
                <label>Cantidad adquirida (unidades): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" maxlength="10" appOnlyNumbers>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" readonly>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="providerFullName" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditPhytosanitaryProductError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditPhytosanitaryProductError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updatePhytosanitaryProductDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete PhytosanitaryProduct -->
<div *ngIf="deletePhytosanitaryProduct">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar registro de compra de productos fitosanitarios</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeletePhytosanitaryProduct">
            <fieldset class="fieldset">
                <legend>Producto fitosanitario</legend>           
                <label>Nombre comercial: </label>
                <input class="md1-input" formControlName="tradeName" type="text" readonly>
                <br><br>
                <label>Materia activa: </label>
                <input class="md2-input" formControlName="activeMatter" type="text" readonly>
                <br><br>
                <label>Nº registro: </label>
                <input class="smd2-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" maxlength="10" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md3-input" formControlName="invoiceNumberPurchase" type="text" readonly>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input" formControlName="datePurchase" type="text" readonly>
                <br><br>       
                <label>Cantidad adquirida (unidades): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" readonly>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="providerFullName" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminará el registro de compra seleccionado!</div>
            <button class="button-delete" (click)="deletePhytosanitaryProductDB()"><span class="material-icons" title="Guardar">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>
