<!-- Add new owner -->
<div *ngIf="addRelative">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title class="reduceTitle"><b>Nueva persona de la explotación o relacionada con el titular</b></h1>    
    <mat-dialog-content>
        <form [formGroup]="formNewRelative">
            <fieldset class="fieldset">
                <legend>Datos de la persona de la explotación o relacionada con el titular mediante grado de 
                    parentesco hasta primer grado</legend>       
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" appOnlyNumbers>
                <label class="label"> </label>
                <label>Vinculación: </label>
                <select class="xm-select" formControlName="relationship">
                    <option>Titular de la explotación</option>
                    <option>Cónyugue</option>
                    <option>Padre/Madre</option>
                    <option>Suegro/a</option>
                    <option>Hijo/a</option>
                    <option>Yerno/Nuera</option>
                    <option>Trabajador de la explotación</option>
                </select><br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label><br><br>
                <label>Tipo de carnet: </label>
                <select class="md-select" formControlName="carnetType">
                    <option>Cualificado</option>
                    <option>No cualificado</option>
                </select>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" maxlength="15" appOnlyNif>
                <label class="label"> </label>       
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewRelativeError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewRelativeError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveRelativeDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Update relative -->
<div *ngIf="editRelative">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Persona de la explotación o relacionada con el titular</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditRelative">
            <fieldset class="fieldset">
                <legend>Datos de la persona de la explotación o relacionada con el titular mediante grado de 
                    parentesco hasta primer grado</legend>       
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" appOnlyNumbers>
                <label class="label"> </label>
                <label>Vinculación: </label>
                <select class="xm-select" formControlName="relationship">
                    <option>Titular de la explotación</option>
                    <option>Cónyugue</option>
                    <option>Padre/Madre</option>
                    <option>Suegro/a</option>
                    <option>Hijo/a</option>
                    <option>Yerno/Nuera</option>
                    <option>Trabajador de la explotación</option>
                </select><br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label><br><br>
                <label>Tipo de carnet: </label>
                <select class="md-select" formControlName="carnetType">
                    <option>Cualificado</option>
                    <option>No cualificado</option>
                </select>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" maxlength="15" appOnlyNif>
                <label class="label"> </label>       
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditRelativeError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditRelativeError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateRelativeDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete relative -->
<div *ngIf="deleteRelative">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar persona de la explotación o relacionada con el titular</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteRelative">
            <fieldset class="fieldset">
                <legend>Datos de la persona de la explotación o relacionada con el titular mediante grado de 
                    parentesco hasta primer grado</legend>                   
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" readonly>
                <label class="label"> </label>
                <label>Vinculación: </label>
                <input class="md-input" formControlName="relationship" type="text" readonly>
                <label class="label"> </label>  <br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" readonly>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" readonly>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Tipo de carnet: </label>
                <input class="smd-input" formControlName="carnetType" type="text" readonly>
                <label class="label"> </label>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" readonly>
                <label class="label"> </label>     
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos de la persona seleccionada!</div>
            <button class="button-delete" title="Eliminar" (click)="deleteRelativeDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>