mat-dialog-content {
    width: auto;
}

h1 {
    text-align: center;
    width: 700px;
    font-size: 20px;
}

.fieldset{
    border: 1px solid rgb(1, 68, 46);
    border-radius: 15px;
    padding: 20px 5px 20px 10px;
    margin-bottom: 10px;
    legend {
        font-size: 13px;
        font-weight: 550;
    }
    .label {
        font-size: 15px;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 15px;
        padding: 0;
    }
    
    .label-xs {
        font-size: 10px;
        color: black;
        margin-left: 5px;
        padding: 0;
    }
    .xs-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 50px;
    }
    .xs-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .xs-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .xs-input:read-only {
        border-color: black !important;
    }
    .sm-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 72px;
        text-transform:uppercase;
    }
    .sm-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .sm-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .sm-input:read-only {
        border-color: black !important;
    }
    .smd-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 150px;
    }
    .smd-input.ng-invalid.ng-touched {
        border-color: red;
    } 
    .smd-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .smd-input:read-only {
        border-color: black !important;;
    }
    .md-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 270px;
    }
    .md-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .md-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .md-input:read-only {
        border-color: black !important;;
    }
    .xm-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 344px;
    }
    .xm-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .xm-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .xm-input:read-only {
        border-color: black !important;;
    }
    .bg-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 464px;
    }
    .bg-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .bg-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .bg-input:read-only {
        border-color: black !important;;
    }
    .md-select {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 35px;
        width: 120px;
        margin-right: 15px;
    }
    .md-select.ng-invalid.ng-touched {
        border-color: red;
    }
    .md-select.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .xm-select {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 35px;
        width: 195px;
        margin-right: 10px;
    }
    .xm-select.ng-invalid.ng-touched {
        border-color: red;
    }
    .xm-select.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }

}

.actions {
    text-align: center;
    width: 100%;
    .msg {
        font-size: 10px;
        color: rgb(1, 68, 46);
        margin: -10px 0 15px 0;
        padding: 0;
    }
    .errorMsg {
        font-size: 10px;
        color: red;
        margin: -10px 0 15px 0;
        padding: 0;
    }
}

.button-cancel {
    text-decoration: none;
    padding: 2px 2px 0px 2px;
    color: rgb(201, 2, 2);
    background-color: #ffffff;
    border-radius: 5px;
    border: 0.5px solid white;
    margin: 1px 3px 1px 3px;
    float: right;
    cursor: pointer;
}
.button-cancel:hover{
    transform: scale(1.2);
}
.button-save {
    text-decoration: none;
    color: rgb(2, 0, 90);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 1px 5px 1px;
    padding: 2px 2px 0px 2px;
    transform: scale(1.5);
    cursor: pointer;
}
.button-save:hover{
    background-color: rgb(233, 230, 230);
}

.button-delete {
    text-decoration: none;
    color: rgb(230, 7, 7);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 1px 0px 1px;
    padding: 4px 3px 0px 3px;
    transform: scale(1.4);
    cursor: pointer;
}
.button-delete:hover{
    background-color: rgb(233, 230, 230);
}
.button-delete-next-save {
    text-decoration: none;
    color: rgb(230, 7, 7);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 20px 5px 1px;
    padding: 4px 3px 0px 3px;
    transform: scale(1.4);
    cursor: pointer;
}
.button-delete-next-save:hover{
    background-color: rgb(233, 230, 230);
}