mat-dialog-content {
    width: auto;
}

h1 {
    text-align: center;
    font-size: 20px;
}

.label {
    font-size: 15px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 0;
}

.fieldset{
    border: 1px solid rgb(1, 68, 46);
    border-radius: 15px;
    padding: 10px 2.5px 15px 15px;
    margin-bottom: 10px;
    legend {
        font-size: 13px;
        font-weight: 550;
    }
    .sm2-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 75px;
    }
    .sm2-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .sm2-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .sm2-input:read-only {
        border-color: black !important;
    }
    .sm-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 75px;
        text-transform:uppercase;
    }
    .sm-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .sm-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .sm-input:read-only {
        border-color: black !important;
    }
    .smd-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 136px;
    }
    .smd-input.ng-invalid.ng-touched {
        border-color: red;
    } 
    .smd-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .smd-input:read-only {
        border-color: black !important;;
    }
    .smd2-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 179px;
    }
    .smd2-input.ng-invalid.ng-touched {
        border-color: red;
    } 
    .smd2-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .smd2-input:read-only {
        border-color: black !important;;
    }
    .smd3-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 217px;
    }
    .smd3-input.ng-invalid.ng-touched {
        border-color: red;
    } 
    .smd3-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .smd3-input:read-only {
        border-color: black !important;;
    }
    .smd4-input {
        background-color: #F3F3F3;
        border: 1px solid black;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 107px;
    }
    .smd5-input {
        background-color: #F3F3F3;
        border: 1px solid black;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 311px;
    }
    .smd6-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 147.5px;
    }
    .smd6-input.ng-invalid.ng-touched {
        border-color: red;
    } 
    .smd6-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .smd6-input:read-only {
        border-color: black !important;;
    }
    .smd7-input {
        background-color: #F3F3F3;
        border: 1px solid black;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 263px;
    }
    .md-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 353px;
    }
    .md-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .md-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .md-input:read-only {
        border-color: black !important;;
    }
    .md2-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 328px;
    }
    .md2-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .md2-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .md2-input:read-only {
        border-color: black !important;;
    }
    .bg-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 445px;
    }
    .bg-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .bg-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .bg-input:read-only {
        border-color: black !important;;
    }
    .bg2-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 442px;
    }
    .bg2-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .bg2-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .bg2-input:read-only {
        border-color: black !important;;
    }
    .bg3-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 400px;
    }
    .bg3-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .bg3-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .bg3-input:read-only {
        border-color: black !important;;
    }
    .bg4-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 350px;
    }
    .bg4-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .bg4-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .bg4-input:read-only {
        border-color: black !important;;
    }
    .bg5-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 435px;
    }
    .bg5-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .bg5-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .bg5-input:read-only {
        border-color: black !important;;
    }
    .infoMsg {
        font-size: 10px;
        color: black;
        margin: 5px 0 0 0;
        padding: 0;
        width: 625px;
    }
    .errorMsg {
        font-size: 10px;
        color: red;
        margin: 5px 0 0 0;
        padding: 0;
        width: 625px;
    }

}

.actions {
    text-align: center;
    width: 100%;
    .msg {
        font-size: 10px;
        color: rgb(1, 68, 46);
        margin: 5px 0 15px 0;
        padding: 0;
    }
    .errorMsg {
        font-size: 10px;
        color: red;
        margin: 5px 0 15px 0;
        padding: 0;
    }
}

.button-cancel {
    text-decoration: none;
    padding: 2px 2px 0px 2px;
    color: rgb(201, 2, 2);
    background-color: #ffffff;
    border-radius: 5px;
    border: 0.5px solid white;
    margin: 1px 3px 1px 3px;
    float: right;
    cursor: pointer;
}
.button-cancel:hover{
    transform: scale(1.2);
}
.button-save {
    text-decoration: none;
    color: rgb(2, 0, 90);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 1px 5px 1px;
    padding: 2px 2px 0px 2px;
    transform: scale(1.5);
    cursor: pointer;
}
.button-save:hover{
    background-color: rgb(233, 230, 230);
}

.button-delete {
    text-decoration: none;
    color: rgb(230, 7, 7);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 1px 0px 1px;
    padding: 4px 3px 0px 3px;
    transform: scale(1.4);
    cursor: pointer;
}
.button-delete:hover{
    background-color: rgb(233, 230, 230);
}
.button-delete-next-save {
    text-decoration: none;
    color: rgb(230, 7, 7);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 20px 5px 1px;
    padding: 4px 3px 0px 3px;
    transform: scale(1.4);
    cursor: pointer;
}
.button-delete-next-save:hover{
    background-color: rgb(233, 230, 230);
}
.button-errorNif {
    text-decoration: none;
    color: rgb(230, 7, 7);
    background-color: white;
    border: 1px solid white;
    transform: scale(0.82);
    cursor: pointer;
}