<!-- Add new storage premise treatment -->
<div *ngIf="addStoragePremiseTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewStoragePremiseTreatment">
            <fieldset class="fieldset">
                <legend>Local de almacenamiento</legend>
                <label>Local de almacenamiento tratado: </label>
                <input class="md-input" formControlName="name" type="text">
                <label class="label"> </label><br><br>
                <label>Volumen tratado (m3): </label>
                <input class="smd2-input" formControlName="volume" type="text">
                <label class="label"> </label>
                <label>Fecha de tratamiento: </label>
                <input class="sm2-input" formControlName="date" type="text" placeholder="dd/mm/yyyy" maxlength="10">
                <label class="label"> </label><br><br>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifOwnerError"><span class="material-icons" title="No existe un propietario con este NIF">notification_important</span></button>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Motivo tratamiento</legend>
                <label>Motivo tratamiento: </label>
                <input class="bg2-input" formControlName="reason_plague" type="text" appOnlyLetters>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg-input" formControlName="tradeName" type="text">
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd-input" formControlName="registryNumber" type="text" appOnlyNumbers>
                <label class="label"> </label>
                <label>Cantidad utilizada (Kg o L): </label>
                <input class="smd-input" formControlName="amount" type="text">
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewStoragePremiseTreatmentError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewStoragePremiseTreatmentError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveOtherTreatmentDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Add new stored product treatment -->
<div *ngIf="addStoredProductTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewStoredProductTreatment">
            <fieldset class="fieldset">
                <legend>Producto almacenado</legend>
                <label>Producto almacenado tratado: </label>
                <input class="md2-input" formControlName="name" type="text">
                <label class="label"> </label><br><br>
                <label>Cantidad de producto almacenado tratado (Tm): </label>
                <input class="smd3-input" formControlName="volume" type="text">
                <label class="label"> </label><br><br>
                <label>Fecha de tratamiento: </label>
                <input class="sm2-input" formControlName="date" type="text" placeholder="dd/mm/yyyy" maxlength="10">
                <label class="label"> </label>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifOwnerError"><span class="material-icons" title="No existe un propietario con este NIF">notification_important</span></button>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Plaga, enfermedad u otros</legend>
                <label>Plaga, enfermedad u otros: </label>
                <input class="bg4-input" formControlName="reason_plague" type="text" appOnlyLetters>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg3-input" formControlName="tradeName" type="text">
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd-input" formControlName="registryNumber" type="text" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Cantidad utilizada (Kg/Tm producto almacenado): </label>
                <input class="smd-input" formControlName="amount" type="text" >
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewStoredProductTreatmentError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewStoredProductTreatmentError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveOtherTreatmentDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Add new own transport treatment -->
<div *ngIf="addOwnTransportTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewOwnTransportTreatment">
            <fieldset class="fieldset">
                <legend>Medio de transporte</legend>
                <label>Medio de transporte: </label>
                <input class="bg5-input" formControlName="name" type="text">
                <label class="label"> </label><br><br>
                <label>Volumen tratado (m3): </label>
                <input class="smd2-input" formControlName="volume" type="text">
                <label class="label"> </label>
                <label>Fecha de tratamiento: </label>
                <input class="sm2-input" formControlName="date" type="text" placeholder="dd/mm/yyyy" maxlength="10">
                <label class="label"> </label><br><br>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifOwnerError"><span class="material-icons" title="No existe un propietario con este NIF">notification_important</span></button>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Motivo tratamiento</legend>
                <label>Motivo tratamiento: </label>
                <input class="bg2-input" formControlName="reason_plague" type="text" appOnlyLetters>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg-input" formControlName="tradeName" type="text">
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd6-input" formControlName="registryNumber" type="text" appOnlyNumbers>
                <label class="label"> </label>
                <label>Cantidad utilizada (Kg): </label>
                <input class="smd6-input" formControlName="amount" type="text">
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewOwnTransportTreatmentError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewOwnTransportTreatmentError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveOtherTreatmentDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit storage premise treatment -->
<div *ngIf="editStoragePremiseTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditStoragePremiseTreatment">
            <fieldset class="fieldset">
                <label>Identificador: </label>
                <input class="smd4-input" formControlName="id" type="text" readonly>
                <label class="label"> </label>
                <label>Tipo: </label>
                <input class="smd5-input" formControlName="category" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Local de almacenamiento</legend>
                <label>Local de almacenamiento tratado: </label>
                <input class="md-input" formControlName="name" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Volumen tratado (m3): </label>
                <input class="smd2-input" formControlName="volume" type="text" readonly>
                <label class="label"> </label>
                <label>Fecha de tratamiento: </label>
                <input class="sm-input" formControlName="date" type="text">
                <label class="label"> </label><br><br>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Motivo tratamiento</legend>
                <label>Motivo tratamiento: </label>
                <input class="bg2-input" formControlName="reason_plague" type="text" appOnlyLetters>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg-input" formControlName="tradeName" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label>
                <label>Cantidad utilizada (Kg o L): </label>
                <input class="smd-input" formControlName="amount" type="text">
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditStoragePremiseTreatmentError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditStoragePremiseTreatmentError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateOtherTreatmentDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit stored product treatment -->
<div *ngIf="editStoredProductTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditStoredProductTreatment">
            <fieldset class="fieldset">
                <label>Identificador: </label>
                <input class="smd4-input" formControlName="id" type="text" readonly>
                <label class="label"> </label>
                <label>Tipo: </label>
                <input class="smd7-input" formControlName="category" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto almacenado</legend>
                <label>Producto almacenado tratado: </label>
                <input class="md2-input" formControlName="name" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Cantidad de producto almacenado tratado (Tm): </label>
                <input class="smd3-input" formControlName="volume" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Fecha de tratamiento: </label>
                <input class="sm-input" formControlName="date" type="text">
                <label class="label"> </label>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Plaga, enfermedad u otros</legend>
                <label>Plaga, enfermedad u otros: </label>
                <input class="bg4-input" formControlName="reason_plague" type="text" appOnlyLetters>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg3-input" formControlName="tradeName" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Cantidad utilizada (Kg/Tm producto almacenado): </label>
                <input class="smd-input" formControlName="amount" type="text">
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditStoredProductTreatmentError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditStoredProductTreatmentError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateOtherTreatmentDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit own transport treatment -->
<div *ngIf="editOwnTransportTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditOwnTransportTreatment">
            <fieldset class="fieldset">
                <label>Identificador: </label>
                <input class="smd4-input" formControlName="id" type="text" readonly>
                <label class="label"> </label>
                <label>Tipo: </label>
                <input class="smd5-input" formControlName="category" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Medio de transporte</legend>
                <label>Medio de transporte: </label>
                <input class="bg5-input" formControlName="name" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Volumen tratado (m3): </label>
                <input class="smd2-input" formControlName="volume" type="text" readonly>
                <label class="label"> </label>
                <label>Fecha de tratamiento: </label>
                <input class="sm-input" formControlName="date" type="text">
                <label class="label"> </label><br><br>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Motivo tratamiento</legend>
                <label>Motivo tratamiento: </label>
                <input class="bg2-input" formControlName="reason_plague" type="text" appOnlyLetters>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg-input" formControlName="tradeName" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd6-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label>
                <label>Cantidad utilizada (Kg): </label>
                <input class="smd6-input" formControlName="amount" type="text">
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditOwnTransportTreatmentError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditOwnTransportTreatmentError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateOtherTreatmentDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete storage premise treatment -->
<div *ngIf="deleteStoragePremiseTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteStoragePremiseTreatment">
            <fieldset class="fieldset">
                <label>Identificador: </label>
                <input class="smd4-input" formControlName="id" type="text" readonly>
                <label class="label"> </label>
                <label>Tipo: </label>
                <input class="smd5-input" formControlName="category" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Local de almacenamiento</legend>
                <label>Local de almacenamiento tratado: </label>
                <input class="md-input" formControlName="name" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Volumen tratado (m3): </label>
                <input class="smd2-input" formControlName="volume" type="text" readonly>
                <label class="label"> </label>
                <label>Fecha de tratamiento: </label>
                <input class="sm-input" formControlName="date" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Motivo tratamiento</legend>
                <label>Motivo tratamiento: </label>
                <input class="bg2-input" formControlName="reason_plague" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg-input" formControlName="tradeName" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label>
                <label>Cantidad utilizada (Kg o L): </label>
                <input class="smd-input" formControlName="amount" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos del tratamiento!</div>
            <button class="button-delete" title="Eliminar" (click)="deleteOtherTreatmentDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete stored product treatment -->
<div *ngIf="deleteStoredProductTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteStoredProductTreatment">
            <fieldset class="fieldset">
                <label>Identificador: </label>
                <input class="smd4-input" formControlName="id" type="text" readonly>
                <label class="label"> </label>
                <label>Tipo: </label>
                <input class="smd7-input" formControlName="category" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto almacenado</legend>
                <label>Producto almacenado tratado: </label>
                <input class="md2-input" formControlName="name" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Cantidad de producto almacenado tratado (Tm): </label>
                <input class="smd3-input" formControlName="volume" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Fecha de tratamiento: </label>
                <input class="sm-input" formControlName="date" type="text" readonly>
                <label class="label"> </label>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Plaga, enfermedad u otros</legend>
                <label>Plaga, enfermedad u otros: </label>
                <input class="bg4-input" formControlName="reason_plague" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg3-input" formControlName="tradeName" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Cantidad utilizada (Kg/Tm producto almacenado): </label>
                <input class="smd-input" formControlName="amount" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos del tratamiento!</div>
            <button class="button-delete" title="Eliminar" (click)="deleteOtherTreatmentDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete own transport treatment -->
<div *ngIf="deleteOwnTransportTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteOwnTransportTreatment">
            <fieldset class="fieldset">
                <label>Identificador: </label>
                <input class="smd4-input" formControlName="id" type="text" readonly>
                <label class="label"> </label>
                <label>Tipo: </label>
                <input class="smd5-input" formControlName="category" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Medio de transporte</legend>
                <label>Medio de transporte: </label>
                <input class="bg5-input" formControlName="name" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Volumen tratado (m3): </label>
                <input class="smd2-input" formControlName="volume" type="text" readonly>
                <label class="label"> </label>
                <label>Fecha de tratamiento: </label>
                <input class="sm-input" formControlName="date" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Motivo tratamiento</legend>
                <label>Motivo tratamiento: </label>
                <input class="bg2-input" formControlName="reason_plague" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Producto comercial empleado</legend>
                <label>Nombre comercial: </label>
                <input class="bg-input" formControlName="tradeName" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nº de registro: </label>
                <input class="smd6-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label>
                <label>Cantidad utilizada (Kg): </label>
                <input class="smd6-input" formControlName="amount" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos del tratamiento!</div>
            <button class="button-delete" title="Eliminar" (click)="deleteOtherTreatmentDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>