<!-- Add new adviser -->
<div *ngIf="addAdviser">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo asesor</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewAdviser">
            <fieldset class="fieldset">
                <legend>Datos del asesor</legend>           
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label><br><br>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" maxlength="15" appOnlyNif>
                <label class="label"> </label>
                <label> Asesoramiento instalaciones de hongos: </label>
                <mat-slide-toggle formControlName="fungusInstAdvice"></mat-slide-toggle>
                <label class="label"> </label>
            </fieldset>
        </form>
        <fieldset class="fieldset-crops">
            <legend>Cultivos asociados</legend>
            <div *ngIf="!cropSelectedError" class="infoMsg2">Debe seleccionar al menos un cultivo</div>
            <div *ngIf="cropSelectedError" class="errorMsg2">¡Debe seleccionar al menos un cultivo!</div>
            <div class="table">
                <table mat-table [dataSource]="dataSourceAllCrops">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox 
                                (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox 
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="section" class="singleColumn">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" class="columnData"> {{element.section}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Tipo de cultivo </th>
                        <td mat-cell *matCellDef="let element" class="columnData"> {{element.type}} </td>
                    </ng-container>

                    <ng-container matColumnDef="crop">
                        <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                        <td mat-cell *matCellDef="let element" class="columnData"> {{element.crop}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsCrops"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsCrops;"></tr> 
                </table>
            </div>
        </fieldset>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewAdviserError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewAdviserError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveAdviserDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit adviser -->
<div *ngIf="editAdviser">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Asesor</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditAdviser">
            <fieldset class="fieldset">
                <legend>Datos del asesor</legend>           
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" maxlength="15" appOnlyNif>
                <label class="label"> </label>
                <label> Asesoramiento instalaciones de hongos: </label>
                <mat-slide-toggle formControlName="fungusInstAdvice"></mat-slide-toggle>
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditAdviserError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditAdviserError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateAdviserDB()" title="Guardar"><span class="material-icons">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete adviser -->
<div *ngIf="deleteAdviser">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar asesor</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteAdviser">
            <fieldset class="fieldset">
                <legend>Datos del asesor</legend>           
                <label>Nº de orden: </label>
                <input class="xs-input" formControlName="orderNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" readonly>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" readonly>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Nº de inscripción ROPO: </label>
                <input class="smd-input" formControlName="ropoNumber" type="text" readonly>
                <label class="label"> </label>
                <label> Asesoramiento instalaciones de hongos: </label>
                <mat-slide-toggle formControlName="fungusInstAdvice" [disabled]="true"></mat-slide-toggle>
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos del asesor seleccionado!</div>
            <button class="button-delete" title="Eliminar" (click)="deleteAdviserDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Show advisory crops -->
<div *ngIf="showCrops">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Asesor</b></h1>
    <mat-dialog-content>
        <fieldset class="fieldset">
            <legend>Cultivos asociados</legend>
            <div class="plotsList">
                <mat-label>Cultivos asociados (Tipo - Cultivo)</mat-label>
                <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
                    <mat-chip class="box" *ngFor="let crop of data.adviser.crops">
                        {{crop.type}} - {{crop.crop}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </fieldset>
    </mat-dialog-content>
</div>

