<div class="generalData">
    <mat-tab-group animationDuration="5ms" #tab (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Propietarios">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Propietarios de la explotación</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-owner', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="showFilterOnOff()">Filtrar</a>
                    <a class="button" mat-raised-button (click)="refreshItems('owners', 500, true)">Actualizar</a>
                </div>
                <div class="filter" *ngIf="showFilter">
                    <form [formGroup]="formFilter">
                        <div class="fieldset">
                            <input class="inputFilter" formControlName="registrationIDFilter" type="text" maxlength="15">
                            <label class="label">Registro</label>
                            <input class="inputFilter" formControlName="campaignFilter" type="text" appOnlyNumbers maxlength="6">
                            <label class="label">Campaña</label>
                            <input class="inputFilter" formControlName="regepaNumberFilter" type="text" appOnlyNumbers maxlength="15">
                            <label class="label">Nº REGEPA</label>
                            <input class="inputFilter" formControlName="nifFilter" type="text" appOnlyNif maxlength="9">
                            <label class="label">NIF</label>
                            <a class="button" (click)="refreshItems('filter',100)"  mat-raised-button>Buscar</a>
                        </div>
                    </form>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceOwners">
                        
                        <ng-container matColumnDef="registrationID">
                            <th mat-header-cell *matHeaderCellDef> Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.registrationID}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="campaign">
                            <th mat-header-cell *matHeaderCellDef> Campaña </th>
                            <td mat-cell *matCellDef="let element"> {{element.campaign}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="regepaCode">
                            <th mat-header-cell *matHeaderCellDef> Nº REGEPA </th>
                            <td mat-cell *matCellDef="let element"> {{element.regepaCode}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="nif">
                            <th mat-header-cell *matHeaderCellDef> NIF </th>
                            <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.name + ' ' + element.lastName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="province">
                            <th mat-header-cell *matHeaderCellDef> Provincia </th>
                            <td mat-cell *matCellDef="let element"> {{element.province}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef> Municipio </th>
                            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="zipCode">
                            <th mat-header-cell *matHeaderCellDef> C. P. </th>
                            <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef> Dirección </th>
                            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                        </ng-container>

                        <ng-container matColumnDef="phoneNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº teléfono </th>
                            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="mobileNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº móvil </th>
                            <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> E-mail </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-owner', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-manager-no" title="Representante" *ngIf="!element.manager" (click)="openDialog('no-manager', element)"><span class="material-icons">manage_accounts</span></button>
                                <button class="button-manager-yes" title="Representante" *ngIf="element.manager" (click)="openDialog('edit-manager', element)"><span class="material-icons">manage_accounts</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-owner', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOwners"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOwners;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Asesores">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Asesores de la explotación</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-adviser', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('advisers', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceAdvisers">
                
                        <ng-container matColumnDef="orderNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº orden </th>
                            <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="nif">
                            <th mat-header-cell *matHeaderCellDef> NIF </th>
                            <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.name + ' ' + element.lastName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ropoNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº ROPO </th>
                            <td mat-cell *matCellDef="let element"> {{element.ropoNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fungusInstAdvice">
                            <th mat-header-cell *matHeaderCellDef> Asesoramiento instalación hongos </th>
                            <td mat-cell *matCellDef="let element" > {{element.fungusInstAdvice}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-adviser', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-advisoryCrops" title="Cultivos asociados" (click)="openDialog('show-advisoryCrops', element)"><span class="material-icons">grass</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-adviser', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsAdvisers"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsAdvisers;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Personas de la explotación o con parentesco">
            <div class="specificTab">
                <div class="title-big">
                    <h1>Personas de la explotación o relacionadas con el titular mediante grado de parentesco hasta primer grado que disponen de carné de aplicador de productos fitosanitarios</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-relative', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('relatives', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceRelatives">
                
                        <ng-container matColumnDef="orderNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº orden </th>
                            <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="nif">
                            <th mat-header-cell *matHeaderCellDef> NIF </th>
                            <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.name + ' ' + element.lastName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="carnetType">
                            <th mat-header-cell *matHeaderCellDef> Carnet </th>
                            <td mat-cell *matCellDef="let element"> {{element.carnetType}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ropoNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº ROPO </th>
                            <td mat-cell *matCellDef="let element"> {{element.ropoNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="relationship">
                            <th mat-header-cell *matHeaderCellDef> Relación </th>
                            <td mat-cell *matCellDef="let element"> {{element.relationship}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-relative', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-relative', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRelatives"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRelatives;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Personas o empresas ajenas">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Personas o empresas ajenas a la explotación que intervienen directamente en los tratamientos con productos fitosanitarios</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-outsider', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('outsiders', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceOutsiders">
                
                        <ng-container matColumnDef="orderNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº orden </th>
                            <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="nif">
                            <th mat-header-cell *matHeaderCellDef> NIF </th>
                            <td mat-cell *matCellDef="let element"> {{element.nif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.name + ' ' + element.lastName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="carnetType">
                            <th mat-header-cell *matHeaderCellDef> Carnet </th>
                            <td mat-cell *matCellDef="let element"> {{element.carnetType}} </td>
                        </ng-container>

                        <ng-container matColumnDef="ropoNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº ROPO </th>
                            <td mat-cell *matCellDef="let element"> {{element.ropoNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-outsider', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-outsider', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOutsiders"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOutsiders;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
