.generalData {
    margin: 0.8% 2% 0 2%;
    overflow-y: hidden;
    .specificTab {
        width: auto;
        .title-small {
            width: auto;
            height: 40px;
            margin: 1% 0 1% 0;
            text-align: center;
        }
        .title-big{
            width: auto;
            height: 75px;
            margin: 1% 0 1% 0;
            text-align: center;
        }
        .options{
            width: auto;
            height: 40px;
            text-align: center;
            .button:hover{
                color: rgb(1, 68, 46);
                background-color: #ffffff;
            }
        }
        .filter {
            border: 0.5px solid white;
            border-radius: 7px;
            margin-top: 40px;
            height: 45px;
            text-align: center;
        }
        .table {
            margin-top: 30px;
            max-height: 587px;
            overflow-y: auto;
            .button-edit {
                text-decoration: none;
                padding: 1px 1px 0px 1px;
                font-size: 13px;
                color: black;
                background-color: rgb(186, 207, 247);
                border-radius: 3px;
                border: 1px solid rgba(9, 23, 207, 0.658);
                margin: 1px 3px 1px 3px;
                cursor: pointer;
            }
            .button-edit:hover{
                color: rgba(9, 23, 207, 0.658);
                background-color: #ffffff;
            }
            .button-delete {
                text-decoration: none;
                padding: 1px 1px 0px 1px;
                font-size: 13px;
                color: white;
                background-color: rgb(255, 56, 56);
                border-radius: 3px;
                border: 1px solid black;
                margin: 1px 3px 1px 3px;
                cursor: pointer;
            }
            .button-delete:hover{
                color: rgb(255, 56, 56);
                background-color: #ffffff;
            }
            .button-manager-no {
                text-decoration: none;
                padding: 1px 1px 0px 1px;
                font-size: 13px;
                color: black;
                background-color: rgb(255, 201, 53);
                border-radius: 3px;
                border: 1px solid black;
                margin: 1px 3px 1px 3px;
                cursor: pointer;
            }
            .button-manager-no:hover{
                color: rgb(255, 201, 53);
                background-color: #ffffff;
            }
            .button-manager-yes {
                text-decoration: none;
                padding: 1px 1px 0px 1px;
                font-size: 13px;
                color: black;
                background-color: rgb(98, 241, 162);
                border-radius: 3px;
                border: 1px solid black;
                margin: 1px 3px 1px 3px;
                cursor: pointer;
            }
            .button-manager-yes:hover{
                color: rgb(98, 241, 162);
                background-color: #ffffff;
            }
            .button-advisoryCrops {
                text-decoration: none;
                padding: 1px 1px 0px 1px;
                font-size: 13px;
                color: black;
                background-color: rgb(0, 194, 120);
                border-radius: 3px;
                border: 1px solid black;
                margin: 1px 3px 1px 3px;
                cursor: pointer;
            }
            .button-advisoryCrops:hover{
                color: rgb(0, 194, 120);
                background-color: white;
            }
        }
        .noLoading {
            height: 30px;
            width: auto;
            text-align: center;
            font-size: 14px;
            color: red;
            border: 1px solid red;
            border-radius: 10px;
            padding: 15px 10px 10px 10px;
            margin-top: 30px;
        }
    }
}
table {
    width: 100%;
}
.mat-raised-button {
    text-decoration: none;
    padding: 0 5px 0 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(12, 141, 98);
    border-radius: 6px;
    border: 2px solid rgb(1, 68, 46);
    margin: 5px 10px 5px 10px;
}
.fieldset{
    label {
        font-size: 13px;
        font-weight: 550;
        position: absolute;
        margin: -10px 0px 0 -126px;
    }
    label {
        font-size: 13px;
        font-weight: 550;
        position: absolute;
        margin: -10px 0px 0 -126px;
    }
    .inputFilter {
        background-color: white;
        border: 0.1px solid black;
        border-radius: 3px;
        height: 20px;
        padding: 7px;
        width: 100px;
        margin: 10px 12px 0px 12px;
        text-transform:uppercase;
    }
    .button:hover{
        color: rgb(1, 68, 46);
        background-color: #ffffff;
    }
}