<!-- Edit herbaceous plot -->
<div *ngIf="editHerbPlot">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Parcela-recinto</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditHerbPlot">
            <fieldset class="fieldset">
                <legend>Parcela Agrícola</legend>           
                <label>Nº de orden: </label>
                <input class="sm-input" formControlName="orderNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Tipo de cultivo: </label>
                <input class="xs2-input" formControlName="cropTypeNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md-input" formControlName="cropType" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Cultivo: </label>
                <input class="xs2-input" formControlName="cropNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md2-input" formControlName="crop" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Variedad: </label>
                <input class="xs2-input" formControlName="varietyNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md3-input" formControlName="variety" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Observaciones (*): </label><br><br>
                <textarea class="bg-input" formControlName="varietyComments" rows="10" cols="40"></textarea>
                <label class="label"> </label><br><br>
                <label>Organismo modificado genéticamente: </label>
                <select class="xs-select" formControlName="isGenModified">
                    <option>Si</option>
                    <option>No</option>
                </select>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Referencia SigPac</legend>           
                <label>Provincia: </label>
                <input class="xs2-input" formControlName="provinceNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md4-input" formControlName="province" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Ciudad: </label>
                <input class="xs2-input" formControlName="cityNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md5-input" formControlName="city" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Agregado: </label>
                <input class="xs-input" formControlName="addition" type="text" readonly>
                <label class="label"> </label>
                <label>Zona: </label>
                <input class="xs-input" formControlName="zone" type="text" readonly>
                <label class="label"> </label>
                <label>Polígono: </label>
                <input class="xs-input" formControlName="polygon" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Parcela: </label>
                <input class="xs-input" formControlName="plot" type="text" readonly>
                <label class="label"> </label>
                <label>Recinto: </label>
                <input class="xs-input" formControlName="enclosure" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Superficie cultivada (ha): </label>
                <input class="sm-input" formControlName="cultivatedArea" type="text">
                <label class="label"> </label><br><br>
                <label>Superficie recinto SigPac (ha): </label>
                <input class="sm-input" formControlName="area" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Uso SigPac: </label>
                <input class="md7-input" formControlName="sigpacUse" type="text" readonly>
                <label class="label"> </label>
                <label>Pendiente (%): </label>
                <input class="xs2-input" formControlName="slope" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Datos ambientales</legend>           
                <label>Zona vulnerable: </label>
                <select class="xs-select" formControlName="isVulnerableArea" readonly>
                    <option>Si</option>
                    <option>No</option>
                </select>
                <label>Red Natura: </label>
                <select class="xs2-select" formControlName="isRedNatura" readonly>
                    <option>Total</option>
                    <option>Parcial</option>
                    <option>No</option>
                </select><br><br>
                <label>Parcela a distancia <= 50m de puntos de extracción de agua para consumo humano: </label><br><br>
                <select class="xs-select" formControlName="isSecurityDistance">
                    <option>Si</option>
                    <option>No</option>
                </select>
                <label>Distancia en metros: </label>
                <input class="xs-input" formControlName="securityDistance" type="text" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Tipos de puntos de extracción de agua para consumo humano: </label>
                <select class="md2-select" formControlName="waterExtPointsType">
                    <option>N/A</option>
                    <option>Tipo 2</option>
                </select><br><br>
                <label>Medios agroambientales: </label>
                <input class="md6-input" formControlName="measures" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Datos agronómicos</legend>           
                <label>Tipo explotación: </label>
                <select class="md-select" formControlName="exploitationType">
                    <option disabled>Regadío</option>
                    <option disabled>Secano</option>
                </select>
                <label>Sistema de riego: </label>
                <select class="md-select" formControlName="irrigationSystem">
                    <option disabled>Aspersión</option>
                    <option disabled>Localizado o goteo</option>
                    <option disabled>Manta o gravedad</option>
                    <option disabled>Otros</option>
                </select><br><br>
                <label>Tipo de protección: </label>
                <select class="md-select" formControlName="protectionType">
                    <option disabled>Aire libre</option>
                    <option disabled>Cubierto</option>
                </select><br><br>
                <label>Observaciones (*): </label><br><br>
                <textarea class="bg-input" formControlName="comments" rows="10" cols="40"></textarea>
                <label class="label"> </label><br><br>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Otros datos</legend>           
                <label>Tipo de certificación: </label>
                <input class="md9-input" formControlName="certificationType" type="text" readonly>
                <br><br>
                <label>Sistema de asesoramiento en GIP: </label>
                <input class="md10-input" formControlName="gipAdviceSystem" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditHerbPlotError" class="msg">Los campos con * son opcionales</div>
            <div *ngIf="formEditHerbPlotError" class="errorMsg">¡Complete todos los campos obligatorios!</div>
            <button class="button-save" (click)="updateHerbPlotDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit woody plot -->
<div *ngIf="editWoodyPlot">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Parcela-recinto</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditWoodyPlot">
            <fieldset class="fieldset">
                <legend>Parcela Agrícola</legend>           
                <label>Nº de orden: </label>
                <input class="sm-input" formControlName="orderNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Tipo de cultivo: </label>
                <input class="xs2-input" formControlName="cropTypeNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md-input" formControlName="cropType" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Cultivo: </label>
                <input class="xs2-input" formControlName="cropNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md2-input" formControlName="crop" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Variedad: </label>
                <input class="xs2-input" formControlName="varietyNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md3-input" formControlName="variety" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Observaciones (*): </label><br><br>
                <textarea class="bg-input" formControlName="varietyComments" rows="10" cols="40"></textarea>
                <label class="label"> </label><br><br>
                <label>Tipo de variedad: </label>
                <select class="md3-select" formControlName="varietyType">
                    <option>Tipo 1</option>
                    <option>Tipo 2</option>
                </select><br><br>
                <label>Patron principal: </label>
                <input class="md8-input" formControlName="mainPattern" type="text" appOnlyLetters>
                <label class="label"> </label><br><br>
                <label>Marco de plantación: </label>
                <input class="xs3-input" formControlName="sizeX" type="text" appOnlyNumbers>
                X
                <input class="xs3-input" formControlName="sizeY" type="text" appOnlyNumbers>
                <label class="label"> </label>
                <label>Año de plantación: </label>
                <input class="xs2-input" formControlName="year" type="text">
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Referencia SigPac</legend>           
                <label>Provincia: </label>
                <input class="xs2-input" formControlName="provinceNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md4-input" formControlName="province" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Ciudad: </label>
                <input class="xs2-input" formControlName="cityNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md5-input" formControlName="city" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Agregado: </label>
                <input class="xs-input" formControlName="addition" type="text" readonly>
                <label class="label"> </label>
                <label>Zona: </label>
                <input class="xs-input" formControlName="zone" type="text" readonly>
                <label class="label"> </label>
                <label>Polígono: </label>
                <input class="xs-input" formControlName="polygon" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Parcela: </label>
                <input class="xs-input" formControlName="plot" type="text" readonly>
                <label class="label"> </label>
                <label>Recinto: </label>
                <input class="xs-input" formControlName="enclosure" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Superficie cultivada (ha): </label>
                <input class="sm-input" formControlName="cultivatedArea" type="text">
                <label class="label"> </label><br><br>
                <label>Superficie recinto SigPac (ha): </label>
                <input class="sm-input" formControlName="area" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Uso SigPac: </label>
                <input class="md7-input" formControlName="sigpacUse" type="text" readonly>
                <label class="label"> </label>
                <label>Pendiente (%): </label>
                <input class="xs2-input" formControlName="slope" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Datos ambientales</legend>           
                <label>Zona vulnerable: </label>
                <select class="xs-select" formControlName="isVulnerableArea" readonly>
                    <option>Si</option>
                    <option>No</option>
                </select>
                <label>Red Natura: </label>
                <select class="xs2-select" formControlName="isRedNatura" readonly>
                    <option>Total</option>
                    <option>Parcial</option>
                    <option>No</option>
                </select><br><br>
                <label>Parcela a distancia <= 50m de puntos de extracción de agua para consumo humano: </label><br><br>
                <select class="xs-select" formControlName="isSecurityDistance">
                    <option>Si</option>
                    <option>No</option>
                </select>
                <label>Distancia en metros: </label>
                <input class="xs-input" formControlName="securityDistance" type="text" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Tipos de puntos de extracción de agua para consumo humano: </label>
                <select class="md2-select" formControlName="waterExtPointsType">
                    <option>Tipo 1</option>
                    <option>Tipo 2</option>
                </select><br><br>
                <label>Medios agroambientales: </label>
                <input class="md6-input" formControlName="measures" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Datos agronómicos</legend>           
                <label>Tipo explotación: </label>
                <select class="md-select" formControlName="exploitationType">
                    <option disabled>Regadío</option>
                    <option disabled>Secano</option>
                </select>
                <label>Sistema de riego: </label>
                <select class="md-select" formControlName="irrigationSystem">
                    <option disabled>Aspersión</option>
                    <option disabled>Goteo</option>
                </select><br><br>
                <label>Tipo de protección: </label>
                <select class="md-select" formControlName="protectionType">
                    <option disabled>Aire libre</option>
                    <option disabled>Cubierto</option>
                </select><br><br>
                <label>Observaciones (*): </label><br><br>
                <textarea class="bg-input" formControlName="comments" rows="10" cols="40"></textarea>
                <label class="label"> </label><br><br>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Otros datos</legend>           
                <label>Tipo de certificación: </label>
                <input class="md9-input" formControlName="certificationType" type="text" readonly>
                <br><br>
                <label>Sistema de asesoramiento en GIP: </label>
                <input class="md10-input" formControlName="gipAdviceSystem" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditWoodyPlotError" class="msg">Los campos con * son opcionales</div>
            <div *ngIf="formEditWoodyPlotError" class="errorMsg">¡Complete todos los campos obligatorios!</div>
            <button class="button-save" (click)="updateWoodyPlotDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>
