.header {
    width: 100%;
    height: 8%;
    background-color: rgb(12, 141, 98);
    text-align: center;
    .title{
        padding-top: 30px;
    }
}

a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}