<!-- Add new Sapling -->
<div *ngIf="addSapling">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo registro de compra de plantones</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewSapling">
            <fieldset class="fieldset">
                <legend>Plantón</legend>           
                <label>Tipo de cultivo: </label>
                <input class="xs-input" formControlName="cropTypeNumber" type="text" maxlength="4" appOnlyNumbers>
                <label class="label"> </label>
                <input class="md1-input" formControlName="cropType" type="text" appOnlyLetters>
                <br><br>
                <label>Cultivo: </label>
                <input class="xs-input" formControlName="cropNumber" type="text" maxlength="4" appOnlyNumbers>
                <label class="label"> </label>
                <input class="md2-input" formControlName="crop" type="text">
                <br><br>
                <label>Variedad: </label>
                <input class="xs2-input" formControlName="varietyNumber" type="text" maxlength="6">
                <label class="label"> </label>
                <input class="md3-input" formControlName="variety" type="text" appOnlyLetters>
                <br><br>
                <label>Patrón: </label>
                <input class="smd2-input" formControlName="pattern" type="text" maxlength="15">
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" maxlength="10" appOnlyNumbers>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md5-input" formControlName="invoiceNumberPurchase" type="text" appOnlyNif>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input-date" formControlName="datePurchase" type="text" maxlength="10" placeholder="dd/mm/yyyy">
                <br><br>       
                <label>Cantidad adquirida (unidades): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" maxlength="10" appOnlyNumbers>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifOwnerError"><span class="material-icons" title="No existe un propietario con este NIF">notification_important</span></button>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="providerFullName" type="text">
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewSaplingError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewSaplingError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveSaplingDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit Sapling -->
<div *ngIf="editSapling">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Registro de compra de plantones</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditSapling">
            <fieldset class="fieldset">
                <legend>Plantón</legend>           
                <label>Tipo de cultivo: </label>
                <input class="xs-input" formControlName="cropTypeNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md1-input" formControlName="cropType" type="text" readonly>
                <br><br>
                <label>Cultivo: </label>
                <input class="xs-input" formControlName="cropNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md2-input" formControlName="crop" type="text" readonly>
                <br><br>
                <label>Variedad: </label>
                <input class="xs-input" formControlName="varietyNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md3-input" formControlName="variety" type="text" readonly>
                <br><br>
                <label>Patrón: </label>
                <input class="smd2-input" formControlName="pattern" type="text" maxlength="15">
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md5-input" formControlName="invoiceNumberPurchase" type="text" readonly>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input" formControlName="datePurchase" type="text" readonly>
                <br><br>       
                <label>Cantidad adquirida (unidades): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" maxlength="10" appOnlyNumbers>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" readonly>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="providerFullName" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditSaplingError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditSaplingError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateSaplingDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete Sapling -->
<div *ngIf="deleteSapling">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar registro de compra de plantones</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteSapling">
            <fieldset class="fieldset">
                <legend>Plantón</legend>           
                <label>Tipo de cultivo: </label>
                <input class="xs-input" formControlName="cropTypeNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md1-input" formControlName="cropType" type="text" readonly>
                <br><br>
                <label>Cultivo: </label>
                <input class="xs-input" formControlName="cropNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md2-input" formControlName="crop" type="text" readonly>
                <br><br>
                <label>Variedad: </label>
                <input class="xs-input" formControlName="varietyNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md3-input" formControlName="variety" type="text" readonly>
                <br><br>
                <label>Patrón: </label>
                <input class="smd2-input" formControlName="pattern" type="text" readonly>
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de compra</legend>    
                <label>Nº factura de compra: </label>
                <input class="md5-input" formControlName="invoiceNumberPurchase" type="text" readonly>
                <br><br>       
                <label>Fecha de compra: </label>
                <input class="sm-input" formControlName="datePurchase" type="text" readonly>
                <br><br>       
                <label>Cantidad adquirida (unidades): </label>
                <input class="smd-input" formControlName="amountPurchase" type="text" readonly>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Proveedor</legend>           
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="providerNif" type="text" readonly>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="providerFullName" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminará el registro de compra seleccionado!</div>
            <button class="button-delete" (click)="deleteSaplingDB()"><span class="material-icons" title="Guardar">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>
