<!-- Add new MarketedHarvest -->
<div *ngIf="addMarketedHarvest">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo registro de venta de cosecha comercializada</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewMarketedHarvest">
            <fieldset class="fieldset">
                <legend>Cosecha</legend>           
                <label>Tipo de cultivo: </label>
                <input class="xs-input" formControlName="cropTypeNumber" type="text" maxlength="4" appOnlyNumbers>
                <label class="label"> </label>
                <input class="md1-input" formControlName="cropType" type="text">
                <br><br>
                <label>Cultivo: </label>
                <input class="xs-input" formControlName="cropNumber" type="text" maxlength="4" appOnlyNumbers>
                <label class="label"> </label>
                <input class="md2-input" formControlName="crop" type="text">
                <br><br>
                <label>Calificación: </label>
                <input class="xs-input" formControlName="qualification" type="text" maxlength="4" appOnlyNumbers>
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" maxlength="10" appOnlyNumbers>
                <br><br>
                <label>Comentarios (*): </label><br>
                <textarea class="bg-input" formControlName="comments" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
            </fieldset>
            <fieldset class="fieldset-plot">
                <legend>Procedencia</legend>
                <div *ngIf="!plotSelectedError" class="infoMsg2">Debe seleccionar al menos una parcela</div>
                <div *ngIf="plotSelectedError" class="errorMsg2">¡Debe seleccionar al menos una parcela!</div>
                <div class="table">
                    <table mat-table [dataSource]="dataSourceAllPlots">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox 
                                    (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="crop">
                            <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.crop}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="provinceNumber">
                            <th mat-header-cell *matHeaderCellDef> Prov. </th>
                            <td mat-cell *matCellDef="let element" class="columnData-number"> {{element.provinceNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="cityNumber">
                            <th mat-header-cell *matHeaderCellDef> Mun.</th>
                            <td mat-cell *matCellDef="let element" class="columnData-number"> {{element.cityNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="addition">
                            <th mat-header-cell *matHeaderCellDef> Agre. </th>
                            <td mat-cell *matCellDef="let element" class="columnData-number"> {{element.addition}} </td>
                        </ng-container>

                        <ng-container matColumnDef="zone">
                            <th mat-header-cell *matHeaderCellDef> Zona </th>
                            <td mat-cell *matCellDef="let element" class="columnData-number"> {{element.zone}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="polygon">
                            <th mat-header-cell *matHeaderCellDef> Pol. </th>
                            <td mat-cell *matCellDef="let element" class="columnData-number"> {{element.polygon}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="plot">
                            <th mat-header-cell *matHeaderCellDef> Parc. </th>
                            <td mat-cell *matCellDef="let element" class="columnData-number"> {{element.plot}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="enclosure">
                            <th mat-header-cell *matHeaderCellDef> Rec. </th>
                            <td mat-cell *matCellDef="let element" class="columnData-number"> {{element.enclosure}} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPlots"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPlots;"></tr> 
                    </table>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de venta</legend>    
                <label>Nº factura de compra: </label>
                <input class="md5-input" formControlName="invoiceNumber" type="text" appOnlyNif>
                <br><br>
                <label>Fecha de venta: </label>
                <input class="sm-input-date" formControlName="date" type="text" maxlength="10" placeholder="dd/mm/yyyy">
                <label class="label"> </label>
                <label>Cantidad (Tm): </label>
                <input class="sm2-input" formControlName="amount" type="text" maxlength="8" appOnlyNumbers>
                <br><br>
                <label>Nº de volante de circulación (*): </label>
                <input class="smd-input" formControlName="handoutNumber" type="text" maxlength="10" appOnlyNumbers> !<br>
                <label class="infoMsg">! (Solo necesario en Agricultura Ecológica)</label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Comprador</legend>
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="purchaserNif" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifOwnerError"><span class="material-icons" title="No existe un propietario con este NIF">notification_important</span></button>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="purchaserFullName" type="text">
                <br><br>
                <label>Dirección: </label><br>
                <input class="xm-input" formControlName="purchaserAddress" type="text">
                <br><br>
                <label>Provincia: </label>
                <input class="xs-input" formControlName="provinceNumber" type="text" maxlength="4" appOnlyNumbers>
                <label class="label"> </label>
                <input class="md3-input" formControlName="province" type="text" appOnlyLetters>
                <br><br>
                <label>Municipio: </label>
                <input class="xs-input" formControlName="cityNumber" type="text" appOnlyNumbers>
                <label class="label"> </label>
                <input class="md4-input" formControlName="city" type="text" appOnlyLetters>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewMarketedHarvestError" class="msg">Los campos con * son opcionales</div>
            <div *ngIf="formNewMarketedHarvestError" class="errorMsg">¡Complete todos los campos obligatorios!</div>
            <button class="button-save" (click)="saveMarketedHarvestDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit MarketedHarvest -->
<div *ngIf="editMarketedHarvest">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Registro de venta de cosecha comercializada</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditMarketedHarvest">
            <fieldset class="fieldset">
                <legend>Cosecha</legend>           
                <label>Tipo de cultivo: </label>
                <input class="xs-input" formControlName="cropTypeNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md1-input" formControlName="cropType" type="text" readonly>
                <br><br>
                <label>Cultivo: </label>
                <input class="xs-input" formControlName="cropNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md2-input" formControlName="crop" type="text" readonly>
                <br><br>
                <label>Calificación: </label>
                <input class="xs-input" formControlName="qualification" type="text" maxlength="4" appOnlyNumbers>
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" readonly>
                <br><br>
                <label>Comentarios (*): </label><br>
                <textarea class="bg-input" formControlName="comments" rows="10" cols="40"></textarea>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Parcelas de procedencia</legend>
                <div class="plotsList">
                    <mat-label>Parcelas (Nº orden - Cultivo - Parcela - Recinto)</mat-label>
                    <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="box" *ngFor="let plot of data.marketedHarvest.plots">
                            Nº {{plot.orderNumber}} - {{plot.crop}} - {{plot.plot}} - {{plot.enclosure}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de venta</legend>    
                <label>Nº factura de compra: </label>
                <input class="md5-input" formControlName="invoiceNumber" type="text" readonly>
                <br><br>
                <label>Fecha de venta: </label>
                <input class="sm-input-date" formControlName="date" type="text" placeholder="dd/mm/yyyy" readonly>
                <label class="label"> </label>
                <label>Cantidad (Tm): </label>
                <input class="sm2-input" formControlName="amount" type="text" maxlength="8" appOnlyNumbers>
                <br><br>
                <label>Nº de volante de circulación (*): </label>
                <input class="smd-input" formControlName="handoutNumber" type="text" readonly><br>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Comprador</legend>
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="purchaserNif" type="text" readonly>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="purchaserFullName" type="text" readonly>
                <br><br>
                <label>Dirección: </label><br>
                <input class="xm-input" formControlName="purchaserAddress" type="text">
                <br><br>
                <label>Provincia: </label>
                <input class="xs-input" formControlName="provinceNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md3-input" formControlName="province" type="text" readonly>
                <br><br>
                <label>Municipio: </label>
                <input class="xs-input" formControlName="cityNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md4-input" formControlName="city" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditMarketedHarvestError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditMarketedHarvestError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateMarketedHarvestDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete MarketedHarvest -->
<div *ngIf="deleteMarketedHarvest">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar registro de venta de cosecha comercializada</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteMarketedHarvest">
            <fieldset class="fieldset">
                <legend>Cosecha</legend>           
                <label>Tipo de cultivo: </label>
                <input class="xs-input" formControlName="cropTypeNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md1-input" formControlName="cropType" type="text" readonly>
                <br><br>
                <label>Cultivo: </label>
                <input class="xs-input" formControlName="cropNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md2-input" formControlName="crop" type="text" readonly>
                <br><br>
                <label>Calificación: </label>
                <input class="xs-input" formControlName="qualification" type="text" readonly>
                <label class="label"> </label>
                <label>Lote: </label>
                <input class="smd-input" formControlName="lot" type="text" readonly>
                <br><br>
                <label>Comentarios: </label><br>
                <textarea class="bg-input" formControlName="comments" rows="10" cols="40" readonly></textarea>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Parcelas de procedencia</legend>
                <div class="plotsList">
                    <mat-label>Parcelas (Nº orden - Cultivo - Parcela - Recinto)</mat-label>
                    <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
                        <mat-chip class="box" *ngFor="let plot of data.marketedHarvest.plots">
                            Nº {{plot.orderNumber}} - {{plot.crop}} - {{plot.plot}} - {{plot.enclosure}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Factura de venta</legend>    
                <label>Nº factura de compra: </label>
                <input class="md5-input" formControlName="invoiceNumber" type="text" readonly>
                <br><br>
                <label>Fecha de venta: </label>
                <input class="sm-input-date" formControlName="date" type="text" readonly>
                <label class="label"> </label>
                <label>Cantidad (Tm): </label>
                <input class="sm2-input" formControlName="amount" type="text" readonly>
                <br><br>
                <label>Nº de volante de circulación: </label>
                <input class="smd-input" formControlName="handoutNumber" type="text" readonly><br>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Comprador</legend>
                <label>NIF proveedor: </label>
                <input class="sm-input" formControlName="purchaserNif" type="text" readonly>
                <br><br>
                <label>Apellidos, Nombre o Razón social: </label><br>
                <input class="xm-input" formControlName="purchaserFullName" type="text" readonly>
                <br><br>
                <label>Dirección: </label><br>
                <input class="xm-input" formControlName="purchaserAddress" type="text" readonly>
                <br><br>
                <label>Provincia: </label>
                <input class="xs-input" formControlName="provinceNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md3-input" formControlName="province" type="text" readonly>
                <br><br>
                <label>Municipio: </label>
                <input class="xs-input" formControlName="cityNumber" type="text" readonly>
                <label class="label"> </label>
                <input class="md4-input" formControlName="city" type="text" readonly>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminará el registro de venta seleccionado!</div>
            <button class="button-delete" (click)="deleteMarketedHarvestDB()"><span class="material-icons" title="Guardar">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>
