<div class="info">
    <p>El CUEX o Cuaderno de Explotación Telemático es una herramienta online, integrada en el Registro de
        Explotaciones Agrarias de La Rioja, REA, que permite y facilita a los agricultores riojanos y a los técnicos
        asesores por ellos autorizados, a cumplimentar de una forma sencilla e intuitiva y según las características
        de la explotación, los datos obligatorios (tratamientos fitosanitarios) y no obligatorios, con objeto de cumplir
        la GIP-Gestión Integrada de Plagas, condicionalidad, etc.
    </p>
</div>

