<div class="accountingDataRecords">
    <mat-tab-group animationDuration="5ms" #tab (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Compras de semillas o plantas">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Registro de datos contables en compras de semillas o plantas</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-seedPlant', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('seedsPlants', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceSeedPlant">
                
                        <ng-container matColumnDef="cropType">
                            <th mat-header-cell *matHeaderCellDef> Tipo de cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.cropType}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="crop">
                            <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.crop}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="variety">
                            <th mat-header-cell *matHeaderCellDef> Variedad </th>
                            <td mat-cell *matCellDef="let element"> {{element.variety}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="lot">
                            <th mat-header-cell *matHeaderCellDef> Lote </th>
                            <td mat-cell *matCellDef="let element"> {{element.lot}} </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Categoría </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Semillas tratadas </th>
                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="datePurchase">
                            <th mat-header-cell *matHeaderCellDef> Fecha de compra </th>
                            <td mat-cell *matCellDef="let element"> {{element.datePurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="invoiceNumberPurchase">
                            <th mat-header-cell *matHeaderCellDef> Nº factura </th>
                            <td mat-cell *matCellDef="let element"> {{element.invoiceNumberPurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="amountPurchase">
                            <th mat-header-cell *matHeaderCellDef> Cantidad adquirida (Kg o uds)</th>
                            <td mat-cell *matCellDef="let element"> {{element.amountPurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="providerNif">
                            <th mat-header-cell *matHeaderCellDef> NIF proveedor </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerNif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="providerFullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerFullName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-seedPlant', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-seedPlant', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSeedPlant"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSeedPlant;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Compras de plantones">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Registro de datos contables en compras de plantones</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-sapling', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('saplings', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceSapling">
                
                        <ng-container matColumnDef="cropType">
                            <th mat-header-cell *matHeaderCellDef> Tipo de cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.cropType}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="crop">
                            <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.crop}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="variety">
                            <th mat-header-cell *matHeaderCellDef> Variedad </th>
                            <td mat-cell *matCellDef="let element"> {{element.variety}} </td>
                        </ng-container>

                        <ng-container matColumnDef="pattern">
                            <th mat-header-cell *matHeaderCellDef> Patrón </th>
                            <td mat-cell *matCellDef="let element"> {{element.pattern}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="lot">
                            <th mat-header-cell *matHeaderCellDef> Lote </th>
                            <td mat-cell *matCellDef="let element"> {{element.lot}} </td>
                        </ng-container>

                        <ng-container matColumnDef="datePurchase">
                            <th mat-header-cell *matHeaderCellDef> Fecha de compra </th>
                            <td mat-cell *matCellDef="let element"> {{element.datePurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="invoiceNumberPurchase">
                            <th mat-header-cell *matHeaderCellDef> Nº factura </th>
                            <td mat-cell *matCellDef="let element"> {{element.invoiceNumberPurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="amountPurchase">
                            <th mat-header-cell *matHeaderCellDef> Cantidad adquirida (uds) </th>
                            <td mat-cell *matCellDef="let element"> {{element.amountPurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="providerNif">
                            <th mat-header-cell *matHeaderCellDef> NIF proveedor </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerNif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="providerFullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerFullName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-sapling', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-sapling', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSapling"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSapling;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Compras de abonos y fertilizantes">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Registro de datos contables en compras de abonos y fertilizantes</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-fertilizer', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('fertilizers', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceFertilizers">
                
                        <ng-container matColumnDef="product">
                            <th mat-header-cell *matHeaderCellDef> Producto </th>
                            <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="productType">
                            <th mat-header-cell *matHeaderCellDef> Tipo de producto </th>
                            <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="datePurchase">
                            <th mat-header-cell *matHeaderCellDef> Fecha de compra </th>
                            <td mat-cell *matCellDef="let element"> {{element.datePurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="invoiceNumberPurchase">
                            <th mat-header-cell *matHeaderCellDef> Nº factura </th>
                            <td mat-cell *matCellDef="let element"> {{element.invoiceNumberPurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="amountPurchase">
                            <th mat-header-cell *matHeaderCellDef> Cantidad adquirida (Kg) </th>
                            <td mat-cell *matCellDef="let element"> {{element.amountPurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="providerNif">
                            <th mat-header-cell *matHeaderCellDef> NIF proveedor </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerNif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="providerFullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerFullName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-fertilizer', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-fertilizer', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsFertilizer"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsFertilizer;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Compras de productos fitosanitarios">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Registro de datos contables en compras de productos fitosanitarios</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-phytosanitaryProduct', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('phytosanitaryProducts', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourcePhytosanitaryProducts">
                
                        <ng-container matColumnDef="tradeName">
                            <th mat-header-cell *matHeaderCellDef> Nombre comercial </th>
                            <td mat-cell *matCellDef="let element"> {{element.tradeName}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="registryNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.registryNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="activeMatter">
                            <th mat-header-cell *matHeaderCellDef> Materia activa </th>
                            <td mat-cell *matCellDef="let element"> {{element.activeMatter}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="lot">
                            <th mat-header-cell *matHeaderCellDef> Lote </th>
                            <td mat-cell *matCellDef="let element"> {{element.lot}} </td>
                        </ng-container>

                        <ng-container matColumnDef="datePurchase">
                            <th mat-header-cell *matHeaderCellDef> Fecha de compra </th>
                            <td mat-cell *matCellDef="let element"> {{element.datePurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="invoiceNumberPurchase">
                            <th mat-header-cell *matHeaderCellDef> Nº factura </th>
                            <td mat-cell *matCellDef="let element"> {{element.invoiceNumberPurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="amountPurchase">
                            <th mat-header-cell *matHeaderCellDef> Cantidad adquirida </th>
                            <td mat-cell *matCellDef="let element"> {{element.amountPurchase}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="providerNif">
                            <th mat-header-cell *matHeaderCellDef> NIF proveedor </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerNif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="providerFullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.providerFullName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-phytosanitaryProduct', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-phytosanitaryProduct', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPhytosanitaryProduct"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPhytosanitaryProduct;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Venta de cosecha comercializada">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Venta de cosecha comercializada</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-marketedHarvest', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('marketedHarvests', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceMarketedHarvest">
                
                        <ng-container matColumnDef="cropType">
                            <th mat-header-cell *matHeaderCellDef> Tipo de cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.cropType}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="crop">
                            <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.crop}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="qualification">
                            <th mat-header-cell *matHeaderCellDef> Calificación </th>
                            <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="lot">
                            <th mat-header-cell *matHeaderCellDef> Lote </th>
                            <td mat-cell *matCellDef="let element"> {{element.lot}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fecha de venta </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="invoiceNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº factura </th>
                            <td mat-cell *matCellDef="let element"> {{element.invoiceNumber}} </td>
                        </ng-container>
                                        
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Cantidad (Tm) </th>
                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="handoutNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº volante </th>
                            <td mat-cell *matCellDef="let element"> {{element.handoutNumber}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="purchaserNif">
                            <th mat-header-cell *matHeaderCellDef> NIF comprador </th>
                            <td mat-cell *matCellDef="let element"> {{element.purchaserNif}} </td>
                        </ng-container>

                        <ng-container matColumnDef="purchaserFullName">
                            <th mat-header-cell *matHeaderCellDef> Nombre y apellidos </th>
                            <td mat-cell *matCellDef="let element"> {{element.purchaserFullName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-marketedHarvest', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-marketedHarvest', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsMarketedHarvest"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsMarketedHarvest;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>

