<!-- Add new machinery -->
<div *ngIf="addMachinery">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nueva maquinaria</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewMachinery">
            <fieldset class="fieldset">
                <legend>Datos de maquinaria</legend>           
                <label>Nº de bastidor: </label>
                <input class="sm-input" formControlName="id" type="text" appOnlyNumbers>
                <label class="label"> </label>
                <label>Categoría: </label>
                <input class="md-input" formControlName="category" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Tipo de maquinaria: </label>
                <input class="smd-input" formControlName="type" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Marca: </label>
                <input class="smd-input" formControlName="brand" type="text" appOnlyLetters>
                <label class="label"> </label><br><br>
                <label>Modelo: </label>
                <input class="smd-input" formControlName="model" type="text">
                <label class="label"> </label>
                <label>Nº de inscripción ROMA: </label>
                <input class="xs-input" formControlName="romaNumber" type="text" maxlength="12" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Fecha 1ª inscripción ROMA: </label>
                <input class="date-input" formControlName="romaDate1" type="text" placeholder="dd/mm/yyyy" maxlength="10">
                <label class="label"> </label>
                <label>Fecha inscripción ROMA: </label>
                <input class="date-input" formControlName="romaDate" type="text" placeholder="dd/mm/yyyy" maxlength="10">
                <label class="label"> </label><br><br>
                <label>Fecha última inspección: </label>
                <input class="date-input" formControlName="lastInscDate" type="text" placeholder="dd/mm/yyyy" maxlength="10">
                <label class="label"> </label>
                <label>Resultado de inspección: </label>
                <select class="md-select" formControlName="resultInsc">
                    <option>Sin valoración</option>
                    <option>Favorable</option>
                    <option>No favorable</option>
                </select>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewMachineryError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewMachineryError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveMachineryDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit machinery -->
<div *ngIf="editMachinery">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Maquinaria</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditMachinery">
            <fieldset class="fieldset">
                <legend>Datos de maquinaria</legend>           
                <label>Nº de bastidor: </label>
                <input class="sm-input" formControlName="id" type="text" readonly>
                <label class="label"> </label>
                <label>Categoría: </label>
                <input class="md-input" formControlName="category" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Tipo de maquinaria: </label>
                <input class="smd-input" formControlName="type" type="text" readonly>
                <label class="label"> </label>
                <label>Marca: </label>
                <input class="smd-input" formControlName="brand" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Modelo: </label>
                <input class="smd-input" formControlName="model" type="text" readonly>
                <label class="label"> </label>
                <label>Nº de inscripción ROMA: </label>
                <input class="xs-input" formControlName="romaNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Fecha 1ª inscripción ROMA: </label>
                <input class="date-input" formControlName="romaDate1" type="text" readonly>
                <label class="label"> </label>
                <label>Fecha inscripción ROMA: </label>
                <input class="date-input" formControlName="romaDate" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Fecha última inspección: </label>
                <input class="date-input" formControlName="lastInscDate" type="text" placeholder="dd/mm/yyyy">
                <label class="label"> </label>
                <label>Resultado de inspección: </label>
                <select class="md-select" formControlName="resultInsc">
                    <option>Sin valoración</option>
                    <option>Favorable</option>
                    <option>No favorable</option>
                </select>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditMachineryError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditMachineryError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateMachineryDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete machinery -->
<div *ngIf="deleteMachinery">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar maquinaria</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteMachinery">
            <fieldset class="fieldset">
                <legend>Datos de maquinaria</legend>           
                <label>Nº de bastidor: </label>
                <input class="sm-input" formControlName="id" type="text" readonly>
                <label class="label"> </label>
                <label>Categoría: </label>
                <input class="md-input" formControlName="category" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Tipo de maquinaria: </label>
                <input class="smd-input" formControlName="type" type="text" readonly>
                <label class="label"> </label>
                <label>Marca: </label>
                <input class="smd-input" formControlName="brand" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Modelo: </label>
                <input class="smd-input" formControlName="model" type="text" readonly>
                <label class="label"> </label>
                <label>Nº de inscripción ROMA: </label>
                <input class="xs-input" formControlName="romaNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Fecha 1ª inscripción ROMA: </label>
                <input class="date-input" formControlName="romaDate1" type="text" readonly>
                <label class="label"> </label>
                <label>Fecha inscripción ROMA: </label>
                <input class="date-input" formControlName="romaDate" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Fecha última inspección: </label>
                <input class="date-input" formControlName="lastInscDate" type="text" readonly>
                <label class="label"> </label>
                <label>Resultado de inspección: </label>
                <input class="date-input" formControlName="resultInsc" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos de la maquinaria seleccionada!</div>
            <button class="button-delete" title="Eliminar" (click)="deleteMachineryDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>


