<div class="machineries">
    <mat-tab-group animationDuration="5ms" #tab (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Parcelas-recintos con cultivos herbáceos y otros">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Parcelas-recintos con cultivos herbáceos y otros</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="refreshItems('herbaceousPlots', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourcePlots">
                
                        <ng-container matColumnDef="orderNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº orden </th>
                            <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="provinceNumber">
                            <th mat-header-cell *matHeaderCellDef> Prov. </th>
                            <td mat-cell *matCellDef="let element"> {{element.provinceNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef> Municipio</th>
                            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                        </ng-container>

                        <ng-container matColumnDef="addition">
                            <th mat-header-cell *matHeaderCellDef> Agre. </th>
                            <td mat-cell *matCellDef="let element"> {{element.addition}} </td>
                        </ng-container>

                        <ng-container matColumnDef="zone">
                            <th mat-header-cell *matHeaderCellDef> Zona </th>
                            <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="polygon">
                            <th mat-header-cell *matHeaderCellDef> Pol. </th>
                            <td mat-cell *matCellDef="let element"> {{element.polygon}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="plot">
                            <th mat-header-cell *matHeaderCellDef> Parc. </th>
                            <td mat-cell *matCellDef="let element"> {{element.plot}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="enclosure">
                            <th mat-header-cell *matHeaderCellDef> Rec. </th>
                            <td mat-cell *matCellDef="let element"> {{element.enclosure}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cultivatedArea">
                            <th mat-header-cell *matHeaderCellDef> Superficie cultivada (ha) </th>
                            <td mat-cell *matCellDef="let element"> {{element.cultivatedArea}} </td>
                        </ng-container>

                        <ng-container matColumnDef="area">
                            <th mat-header-cell *matHeaderCellDef> Superficie recinto SigPac </th>
                            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="sigpacUse">
                            <th mat-header-cell *matHeaderCellDef> Uso SigPac </th>
                            <td mat-cell *matCellDef="let element"> {{element.sigpacUse}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="slope">
                            <th mat-header-cell *matHeaderCellDef> Pdte % </th>
                            <td mat-cell *matCellDef="let element"> {{element.slope}} </td>
                        </ng-container>

                        <ng-container matColumnDef="crop">
                            <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.crop}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-herbaceousPlot', element)"><span class="material-icons">remove_red_eye</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPlots"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPlots;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Parcelas-recintos con cultivos leñosos">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Parcelas-recintos con cultivos leñosos</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="refreshItems('woodyPlots', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourcePlots">
                
                        <ng-container matColumnDef="orderNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº orden </th>
                            <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="provinceNumber">
                            <th mat-header-cell *matHeaderCellDef> Prov. </th>
                            <td mat-cell *matCellDef="let element"> {{element.provinceNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef> Municipio</th>
                            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                        </ng-container>

                        <ng-container matColumnDef="addition">
                            <th mat-header-cell *matHeaderCellDef> Agre. </th>
                            <td mat-cell *matCellDef="let element"> {{element.addition}} </td>
                        </ng-container>

                        <ng-container matColumnDef="zone">
                            <th mat-header-cell *matHeaderCellDef> Zona </th>
                            <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="polygon">
                            <th mat-header-cell *matHeaderCellDef> Pol. </th>
                            <td mat-cell *matCellDef="let element"> {{element.polygon}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="plot">
                            <th mat-header-cell *matHeaderCellDef> Parc. </th>
                            <td mat-cell *matCellDef="let element"> {{element.plot}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="enclosure">
                            <th mat-header-cell *matHeaderCellDef> Rec. </th>
                            <td mat-cell *matCellDef="let element"> {{element.enclosure}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cultivatedArea">
                            <th mat-header-cell *matHeaderCellDef> Superficie cultivada (ha) </th>
                            <td mat-cell *matCellDef="let element"> {{element.cultivatedArea}} </td>
                        </ng-container>

                        <ng-container matColumnDef="area">
                            <th mat-header-cell *matHeaderCellDef> Superficie recinto SigPac </th>
                            <td mat-cell *matCellDef="let element"> {{element.area}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="sigpacUse">
                            <th mat-header-cell *matHeaderCellDef> Uso SigPac </th>
                            <td mat-cell *matCellDef="let element"> {{element.sigpacUse}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="slope">
                            <th mat-header-cell *matHeaderCellDef> Pdte % </th>
                            <td mat-cell *matCellDef="let element"> {{element.slope}} </td>
                        </ng-container>

                        <ng-container matColumnDef="crop">
                            <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.crop}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-woodyPlot', element)"><span class="material-icons">remove_red_eye</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPlots"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPlots;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

