<div class="phytoTreatments">
    <mat-tab-group animationDuration="5ms" #tab (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Fitosanitarios">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Registro de tratamientos fitosanitarios</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-phytosanitaryTreatment', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('phytoTreatments', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourcePhytoTreatments">
                
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Código tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nombre comercial </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="registryNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.registryNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="activeMatter">
                            <th mat-header-cell *matHeaderCellDef> Materia activa </th>
                            <td mat-cell *matCellDef="let element"> {{element.activeMatter}} </td>
                        </ng-container>

                        <ng-container matColumnDef="lotNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº lote </th>
                            <td mat-cell *matCellDef="let element"> {{element.lotNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let element"> {{element.amount}} {{element.measurementUnit}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="crop">
                            <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                            <td mat-cell *matCellDef="let element"> {{element.crop}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="pest">
                            <th mat-header-cell *matHeaderCellDef> Plaga, enfermedad o mala hierba </th>
                            <td mat-cell *matCellDef="let element"> {{element.pest}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fecha actuación </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="justification">
                            <th mat-header-cell *matHeaderCellDef> Justificación actuación </th>
                            <td mat-cell *matCellDef="let element"> {{element.justification}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nonChemicalAlternatives">
                            <th mat-header-cell *matHeaderCellDef> Alternativas no químicas </th>
                            <td mat-cell *matCellDef="let element"> {{element.nonChemicalAlternatives}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-phytosanitaryTreatment', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-phytosanitaryTreatment', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPhytoTreatments"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPhytoTreatments;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="En locales de almacenamientos">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Registro de tratamientos en locales de almacenamiento</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-storagePremise', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('storagePremises', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceOtherTreatments">
                
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Código tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="tradeName">
                            <th mat-header-cell *matHeaderCellDef> Nombre comercial </th>
                            <td mat-cell *matCellDef="let element"> {{element.tradeName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="registryNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.registryNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Cantidad utilizada (Kg o L) </th>
                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Local de almacenamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="volume">
                            <th mat-header-cell *matHeaderCellDef> Volument tratado (m3) </th>
                            <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fecha tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nifOwner">
                            <th mat-header-cell *matHeaderCellDef> NIF aplicador </th>
                            <td mat-cell *matCellDef="let element"> {{element.nifOwner}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="reason_plague">
                            <th mat-header-cell *matHeaderCellDef> Motivo tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.reason_plague}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-storagePremise', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-storagePremise', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOtherTreatments"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOtherTreatments;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="En productos almacenados">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Registro de tratamientos en productos almacenados</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-storedProduct', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('storedProducts', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceOtherTreatments">
                
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Código tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="tradeName">
                            <th mat-header-cell *matHeaderCellDef> Nombre comercial </th>
                            <td mat-cell *matCellDef="let element"> {{element.tradeName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="registryNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.registryNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Cantidad utilizada (Kg/Tm) </th>
                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Producto almacenado </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="volume">
                            <th mat-header-cell *matHeaderCellDef> Cantidad tratada (Tm) </th>
                            <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fecha tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nifOwner">
                            <th mat-header-cell *matHeaderCellDef> NIF aplicador </th>
                            <td mat-cell *matCellDef="let element"> {{element.nifOwner}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="reason_plague">
                            <th mat-header-cell *matHeaderCellDef> Plaga, enfermedad u otros </th>
                            <td mat-cell *matCellDef="let element"> {{element.reason_plague}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-storedProduct', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-storedProduct', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOtherTreatments"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOtherTreatments;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="En medios de transporte propios">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Registro de tratamientos en medios de transporte propios</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-ownTransport', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('ownTransports', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceOtherTreatments">
                
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Código tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="tradeName">
                            <th mat-header-cell *matHeaderCellDef> Nombre comercial </th>
                            <td mat-cell *matCellDef="let element"> {{element.tradeName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="registryNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.registryNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef> Cantidad utilizada (Kg) </th>
                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Medio de transporte </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="volume">
                            <th mat-header-cell *matHeaderCellDef> Volumen tratado (m3) </th>
                            <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Fecha tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nifOwner">
                            <th mat-header-cell *matHeaderCellDef> NIF aplicador </th>
                            <td mat-cell *matCellDef="let element"> {{element.nifOwner}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="reason_plague">
                            <th mat-header-cell *matHeaderCellDef> Motivo tratamiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.reason_plague}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-ownTransport', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-ownTransport', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOtherTreatments"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOtherTreatments;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>
        
    </mat-tab-group>
</div>


