<!-- Add new owner -->
<div *ngIf="addOwner">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo propietario</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewOwner">
            <div class="fieldset">
                <label>Código de registro: </label>
                <input class="smd-input" formControlName="registrationID" type="text">
                <label class="label"> </label>
                <label>Campaña: </label>
                <input class="xs-input" formControlName="campaign" type="text" appOnlyNumbers>
                <label class="label"> </label>
                <label>Código REGEPA: </label>
                <input class="smd-input" formControlName="regepaCode" type="text" appOnlyNumbers>
                <label class="label"> </label>
            </div>
            <fieldset class="fieldset">
                <legend>Datos del titular</legend>           
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label><br><br>
                <label>Dirección: </label>
                <input class="bg-input" formControlName="address" type="text">
                <label class="label"> </label>
                <label>Código postal: </label>
                <input class="xs-input" formControlName="zipCode" type="text" maxlength="5" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Provincia: </label>
                <input class="md-input" formControlName="province" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Municipio: </label>
                <input class="md-input" formControlName="city" type="text" appOnlyLetters>
                <label class="label"> </label><br><br>            
                <label>Teléfono: </label>
                <input class="sm-input" formControlName="phoneNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>Móvil: </label>
                <input class="sm-input" formControlName="mobileNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>E-mail: </label>
                <input class="xm-input" formControlName="email" type="text">
                <label class="label"> </label><br><br>
                <label> Representante </label>
                <mat-slide-toggle formControlName="manager"></mat-slide-toggle>
                <label class="label-xs"> (Si selecciona esta opción, se abrirá a continuacion el formulario correspondiente para completar los datos del representante) </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewOwnerError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewOwnerError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveOwnerDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit owner -->
<div *ngIf="editOwner">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Propietario</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditOwner">
            <div class="fieldset">
                <label>Código de registro: </label>
                <input class="smd-input" formControlName="registrationID" type="text" readonly>
                <label class="label"> </label>
                <label>Campaña: </label>
                <input class="xs-input" formControlName="campaign" type="text" readonly>
                <label class="label"> </label>
                <label>Código REGEPA: </label>
                <input class="smd-input" formControlName="regepaCode" type="text" readonly>
                <label class="label"> </label>
            </div>
            <fieldset class="fieldset">
                <legend>Datos del titular</legend>           
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" readonly>
                <label class="label"> </label><br><br>
                <label>Dirección: </label>
                <input class="bg-input" formControlName="address" type="text">
                <label class="label"> </label>
                <label>Código postal: </label>
                <input class="xs-input" formControlName="zipCode" type="text" maxlength="5" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Provincia: </label>
                <input class="md-input" formControlName="province" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Municipio: </label>
                <input class="md-input" formControlName="city" type="text" appOnlyLetters>
                <label class="label"> </label><br><br>            
                <label>Teléfono: </label>
                <input class="sm-input" formControlName="phoneNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>Móvil: </label>
                <input class="sm-input" formControlName="mobileNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>E-mail: </label>
                <input class="xm-input" formControlName="email" type="text">
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditOwnerError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditOwnerError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="updateOwnerDB()" title="Guardar"><span class="material-icons">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete owner -->
<div *ngIf="deleteOwner">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar propietario</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeleteOwner">
            <div class="fieldset">
                <label>Código de registro: </label>
                <input class="smd-input" formControlName="registrationID" type="text" readonly>
                <label class="label"> </label>
                <label>Campaña: </label>
                <input class="xs-input" formControlName="campaign" type="text" readonly>
                <label class="label"> </label>
                <label>Código REGEPA: </label>
                <input class="smd-input" formControlName="regepaCode" type="text" readonly>
                <label class="label"> </label>
            </div>
            <fieldset class="fieldset">
                <legend>Datos del titular</legend>           
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" readonly>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" readonly>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos generales de este propietario y de su representante, en caso de tener uno asociado!</div>
            <button class="button-delete" title="Eliminar" (click)="deleteOwnerDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Add new manager -->
<div *ngIf="addManager">
    <span class="material-icons button-cancel" mat-dialog-close (click)="notSaveManagerDB()">cancel</span>
    <h1 mat-dialog-title><b>Nuevo representante</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewManager">
            <div class="fieldset">
                <label>Código de registro: </label>
                <input class="smd-input" formControlName="registrationID" type="text" readonly>
                <label class="label"> </label>
                <label>Campaña: </label>
                <input class="xs-input" formControlName="campaign" type="text" readonly>
                <label class="label"> </label>
                <label>Código REGEPA: </label>
                <input class="smd-input" formControlName="regepaCode" type="text" readonly>
                <label class="label"> </label>
            </div>
            <fieldset class="fieldset">
                <legend>Datos del representante</legend>           
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label><br><br>
                <label>Dirección: </label>
                <input class="bg-input" formControlName="address" type="text">
                <label class="label"> </label>
                <label>Código postal: </label>
                <input class="xs-input" formControlName="zipCode" type="text" maxlength="5" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Provincia: </label>
                <input class="md-input" formControlName="province" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Municipio: </label>
                <input class="md-input" formControlName="city" type="text" appOnlyLetters>
                <label class="label"> </label><br><br>            
                <label>Teléfono: </label>
                <input class="sm-input" formControlName="phoneNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>Móvil: </label>
                <input class="sm-input" formControlName="mobileNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>E-mail: </label>
                <input class="xm-input" formControlName="email" type="text">
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewManagerError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNewManagerError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveManagerDB()" title="Guardar"><span class="material-icons">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit manager -->
<div *ngIf="editManager">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Representante</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditManager">
            <div class="fieldset" style="display: none;">
                <label>Código de registro: </label>
                <input class="smd-input" formControlName="registrationID" type="text" readonly>
                <label class="label"> </label>
                <label>Campaña: </label>
                <input class="xs-input" formControlName="campaign" type="text" readonly>
                <label class="label"> </label>
                <label>Código REGEPA: </label>
                <input class="smd-input" formControlName="regepaCode" type="text" readonly>
                <label class="label"> </label>
            </div>
            <fieldset class="fieldset">
                <legend>Datos del representante</legend>           
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" readonly>
                <label class="label"> </label><br><br>
                <label>Dirección: </label>
                <input class="bg-input" formControlName="address" type="text">
                <label class="label"> </label>
                <label>Código postal: </label>
                <input class="xs-input" formControlName="zipCode" type="text" maxlength="5" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Provincia: </label>
                <input class="md-input" formControlName="province" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Municipio: </label>
                <input class="md-input" formControlName="city" type="text" appOnlyLetters>
                <label class="label"> </label><br><br>            
                <label>Teléfono: </label>
                <input class="sm-input" formControlName="phoneNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>Móvil: </label>
                <input class="sm-input" formControlName="mobileNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>E-mail: </label>
                <input class="xm-input" formControlName="email" type="text">
                <label class="label"> </label>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditManagerError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formEditManagerError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-delete-next-save" (click)="deleteManagerDB()" title="Eliminar"><span class="material-icons">delete</span></button>
            <button class="button-save" (click)="updateManagerDB()" title="Guardar"><span class="material-icons">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- No Manager -->
<div *ngIf="noManager">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo representante</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNoManager">
            <div class="fieldset">
                <label>Código de registro: </label>
                <input class="smd-input" formControlName="registrationID" type="text" readonly>
                <label class="label"> </label>
                <label>Campaña: </label>
                <input class="xs-input" formControlName="campaign" type="text" readonly>
                <label class="label"> </label>
                <label>Código REGEPA: </label>
                <input class="smd-input" formControlName="regepaCode" type="text" readonly>
                <label class="label"> </label>
            </div>
            <fieldset class="fieldset">
                <legend>Datos del representante</legend>           
                <label>Nombre: </label>
                <input class="smd-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Apellidos: </label>
                <input class="md-input" formControlName="lastName" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>NIF: </label>
                <input class="sm-input" formControlName="nif" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label><br><br>
                <label>Dirección: </label>
                <input class="bg-input" formControlName="address" type="text">
                <label class="label"> </label>
                <label>Código postal: </label>
                <input class="xs-input" formControlName="zipCode" type="text" maxlength="5" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Provincia: </label>
                <input class="md-input" formControlName="province" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Municipio: </label>
                <input class="md-input" formControlName="city" type="text" appOnlyLetters>
                <label class="label"> </label><br><br>            
                <label>Teléfono: </label>
                <input class="sm-input" formControlName="phoneNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>Móvil: </label>
                <input class="sm-input" formControlName="mobileNumber" type="text" maxlength="9" appOnlyNumbers>
                <label class="label"> </label>
                <label>E-mail: </label>
                <input class="xm-input" formControlName="email" type="text">
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNoManagerError" class="msg">Todos los campos son obligatorios</div>
            <div *ngIf="formNoManagerError" class="errorMsg">¡Todos los campos son obligatorios!</div>
            <button class="button-save" (click)="saveNoManagerDB()" title="Guardar"><span class="material-icons">save</span></button>
        </div>
    </mat-dialog-actions>
</div>