<div class="machineries">
    <mat-tab-group animationDuration="5ms" #tab (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Maquinaria de explotación">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Maquinaria de explotación</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-farmMachinery', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('farmMachineries', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceMachineries">
                
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Nº Bastidor </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Tipo de maquinaria </th>
                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="brand">
                            <th mat-header-cell *matHeaderCellDef> Marca </th>
                            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                        </ng-container>

                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> Modelo </th>
                            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                        </ng-container>

                        <ng-container matColumnDef="romaNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="romaDate1">
                            <th mat-header-cell *matHeaderCellDef> 1ª Inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaDate1}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="romaDate">
                            <th mat-header-cell *matHeaderCellDef> Inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaDate}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="lastInscDate">
                            <th mat-header-cell *matHeaderCellDef> Última inscripción </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastInscDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="resultInsc">
                            <th mat-header-cell *matHeaderCellDef> Resultado inspección </th>
                            <td mat-cell *matCellDef="let element"> {{element.resultInsc}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-machinery', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-machinery', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsMachineries"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsMachineries;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Equipos de aplicación de productos fitosantiarios">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Equipos de aplicación de productos fitosantiarios</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-phytoMachinery', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('phytoMachineries', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceMachineries">
                
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Nº Bastidor </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Tipo de maquinaria </th>
                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="brand">
                            <th mat-header-cell *matHeaderCellDef> Marca </th>
                            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                        </ng-container>

                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> Modelo </th>
                            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                        </ng-container>

                        <ng-container matColumnDef="romaNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="romaDate1">
                            <th mat-header-cell *matHeaderCellDef> 1ª Inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaDate1}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="romaDate">
                            <th mat-header-cell *matHeaderCellDef> Inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaDate}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="lastInscDate">
                            <th mat-header-cell *matHeaderCellDef> Última inscripción </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastInscDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="resultInsc">
                            <th mat-header-cell *matHeaderCellDef> Resultado inspección </th>
                            <td mat-cell *matCellDef="let element"> {{element.resultInsc}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-machinery', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-machinery', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsMachineries"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsMachineries;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Equipos de distribución de fertilizantes">
            <div class="specificTab">
                <div class="title-small">
                    <h1>Equipos de distribución de fertilizantes</h1>
                </div>
                <div class="options">
                    <a class="button" mat-raised-button (click)="openDialog('new-fertilizerMachinery', null)">Dar de alta</a>
                    <a class="button" mat-raised-button (click)="refreshItems('fertilizerMachineries', 500, true)">Actualizar</a>
                </div>
                <div class="table" *ngIf="!noLoading">
                    <table mat-table [dataSource]="dataSourceMachineries">
                
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Nº Bastidor </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> Tipo de maquinaria </th>
                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="brand">
                            <th mat-header-cell *matHeaderCellDef> Marca </th>
                            <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                        </ng-container>

                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> Modelo </th>
                            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                        </ng-container>

                        <ng-container matColumnDef="romaNumber">
                            <th mat-header-cell *matHeaderCellDef> Nº inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="romaDate1">
                            <th mat-header-cell *matHeaderCellDef> 1ª Inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaDate1}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="romaDate">
                            <th mat-header-cell *matHeaderCellDef> Inscripción ROMA </th>
                            <td mat-cell *matCellDef="let element"> {{element.romaDate}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="lastInscDate">
                            <th mat-header-cell *matHeaderCellDef> Última inscripción </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastInscDate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="resultInsc">
                            <th mat-header-cell *matHeaderCellDef> Resultado inspección </th>
                            <td mat-cell *matCellDef="let element"> {{element.resultInsc}} </td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <button class="button-edit" title="Editar" (click)="openDialog('edit-machinery', element)"><span class="material-icons">remove_red_eye</span></button>
                                <button class="button-delete" title="Eliminar" (click)="openDialog('delete-machinery', element)"><span class="material-icons">delete</span></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsMachineries"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsMachineries;"></tr> 
                    </table>
                </div>
                <div class="noLoading" *ngIf="noLoading">
                    <p>Error en la búsqueda</p>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>

