mat-dialog-content {
    width: auto;
}

h1 {
    text-align: center;
    font-size: 20px;
}

.label {
    font-size: 15px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 0;
}

.fieldset{
    border: 1px solid rgb(1, 68, 46);
    border-radius: 15px;
    padding: 10px 2.5px 15px 15px;
    margin-bottom: 10px;
    legend {
        font-size: 13px;
        font-weight: 550;
    }
    .xs-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 50px;
    }
    .xs-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .xs-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .xs-input:read-only {
        border-color: black !important;
    }
    .sm-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 75px;
        text-transform:uppercase;
    }
    .sm-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .sm-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .sm-input:read-only {
        border-color: black !important;
    }
    .sm-input-date {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 75px;
    }
    .sm-input-date.ng-invalid.ng-touched {
        border-color: red;
    }
    .sm-input-date.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .sm-input-date:read-only {
        border-color: black !important;
    }
    .smd-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 112px;
    }
    .smd-input.ng-invalid.ng-touched {
        border-color: red;
    } 
    .smd-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .smd-input:read-only {
        border-color: black !important;;
    }
    .smd2-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 126px;
    }
    .smd2-input.ng-invalid.ng-touched {
        border-color: red;
    } 
    .smd2-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .smd2-input:read-only {
        border-color: black !important;;
    }
    .md-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 270px;
    }
    .md-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .md-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .md-input:read-only {
        border-color: black !important;;
    }
    .xm-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 380px;
    }
    .xm-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .xm-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .xm-input:read-only {
        border-color: black !important;;
    }
    .bg-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 75px;
        padding: 7px;
        width: 590px;
    }
    .bg-input:read-only {
        border-color: black !important;;
    }
    .bg2-input {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 542px;
    }
    .bg2-input.ng-invalid.ng-touched {
        border-color: red;
    }
    .bg2-input.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .bg2-input:read-only {
        border-color: black !important;;
    }
    .bg3-input {
        background-color: #F3F3F3;
        border: 1px solid black;
        border-radius: 3px;
        height: 16px;
        padding: 7px;
        width: 447px;
    }
    .xs-select {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 32px;
        width: 87px;
        margin-right: 0px;
    }
    .xs-select.ng-invalid.ng-touched {
        border-color: red;
    }
    .xs-select.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .sm-select {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 32px;
        width: 100px;
        margin-right: 0px;
    }
    .sm-select.ng-invalid.ng-touched {
        border-color: red;
    }
    .sm-select.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .md-select {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 32px;
        width: 423px;
        margin-right: 0px;
    }
    .md-select.ng-invalid.ng-touched {
        border-color: red;
    }
    .md-select.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .md-select-read-only {
        background-color: #F3F3F3;
        border: 1px solid black;
        border-radius: 3px;
        height: 32px;
        width: 417px;
        margin-right: 0px;
    }
    .xm-select {
        background-color: #F3F3F3;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        height: 32px;
        width: 447px;
        margin-right: 0px;
    }
    .xm-select.ng-invalid.ng-touched {
        border-color: red;
    }
    .xm-select.ng-valid.ng-touched {
        border-color: rgb(63, 175, 11);
    }
    .xm-select-read-only {
        background-color: #F3F3F3;
        border: 1px solid black;
        border-radius: 3px;
        height: 32px;
        width: 440px;
        margin-right: 0px;
    }
    .infoMsg {
        font-size: 10px;
        color: black;
        margin: 5px 0 0 0;
        padding: 0;
        width: 625px;
    }
    .errorMsg {
        font-size: 10px;
        color: red;
        margin: 5px 0 0 0;
        padding: 0;
        width: 625px;
    }
    mat-label {
        font-size: 12px;
        color: grey;
    }
    .box{
        font-size: 12px;
        color: black;
        background-color:rgb(231, 231, 231);
        border-radius: 7px;
        border: 0.5px solid black;
    }

    .plotsList {
        width: 600px;
        margin-bottom: 7px;
    }
}

.actions {
    text-align: center;
    width: 100%;
    .msg {
        font-size: 10px;
        color: rgb(1, 68, 46);
        margin: 5px 0 15px 0;
        padding: 0;
    }
    .errorMsg {
        font-size: 10px;
        color: red;
        margin: 5px 0 15px 0;
        padding: 0;
    }
}

.fieldset-plot {
    border: 1px solid rgb(1, 68, 46);
    border-radius: 15px;
    height: 400px;
    overflow: auto;
    margin-bottom: 10px;
    legend {
        font-size: 13px;
        font-weight: 550;
    }
    table {
        width: 600px;
    }
    .table {
        .columnData {
            font-size: 11px;
        }
        .columnData-number {
            font-size: 10px;
            text-align: center;
        }
    }
    .infoMsg2 {
        font-size: 10px;
        color: black;
        margin: 0 0 2px 0;
        padding: 0;
    }
    .errorMsg2 {
        font-size: 10px;
        color: red;
        margin: 0 0 2px 0;
        padding: 0;
    }
}

.button-cancel {
    text-decoration: none;
    padding: 2px 2px 0px 2px;
    color: rgb(201, 2, 2);
    background-color: #ffffff;
    border-radius: 5px;
    border: 0.5px solid white;
    margin: 1px 3px 1px 3px;
    float: right;
    cursor: pointer;
}
.button-cancel:hover{
    transform: scale(1.2);
}
.button-save {
    text-decoration: none;
    color: rgb(2, 0, 90);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 1px 5px 1px;
    padding: 2px 2px 0px 2px;
    transform: scale(1.5);
    cursor: pointer;
}
.button-save:hover{
    background-color: rgb(233, 230, 230);
}

.button-delete {
    text-decoration: none;
    color: rgb(230, 7, 7);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 1px 0px 1px;
    padding: 4px 3px 0px 3px;
    transform: scale(1.4);
    cursor: pointer;
}
.button-delete:hover{
    background-color: rgb(233, 230, 230);
}
.button-delete-next-save {
    text-decoration: none;
    color: rgb(230, 7, 7);
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 1px 20px 5px 1px;
    padding: 4px 3px 0px 3px;
    transform: scale(1.4);
    cursor: pointer;
}
.button-delete-next-save:hover{
    background-color: rgb(233, 230, 230);
}
.button-errorNif {
    text-decoration: none;
    color: rgb(230, 7, 7);
    background-color: white;
    border: 1px solid white;
    transform: scale(0.82);
    cursor: pointer;
}