<!-- Add new phytosanitary treatment -->
<div *ngIf="addPhytosanitaryTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Nuevo tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formNewPhytosanitaryTreatment">
            <fieldset class="fieldset">
                <legend>Datos de cultivo y plaga</legend>
                <label>Cultivo: </label>
                <input class="bg2-input" formControlName="crop" type="text">
                <br><br>
                <label>Plaga, enfermedad o mala hierba: </label>
                <input class="xm-input" formControlName="pest" type="text">
                <br><br>
                <label>Justificación de la actuación: </label>
                <select class="md-select" formControlName="justification">
                    <option>Condiciones meteorológicas</option>
                    <option>Fenología</option>
                    <option>Superación de umbrales</option>
                    <option>Otros</option>
                </select>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Tratamientos fitosanitarios</legend>
                <label>Nombre comercial: </label>
                <input class="md-input" formControlName="name" type="text" appOnlyLetters>
                <label class="label"> </label>
                <label>Nº de registro: </label>
                <input class="sm-input" formControlName="registryNumber" type="text" appOnlyNumbers>
                <br><br>
                <label>Materia activa: </label>
                <input class="md-input" formControlName="activeMatter" type="text">
                <label class="label"> </label>
                <label>Nº de lote: </label>
                <input class="smd2-input" formControlName="lotNumber" type="text" appOnlyNumbers>
                <br><br>
                <label>Cantidad producto comercial empleado por ha: </label>
                <input class="sm-input" formControlName="amount" type="text">
                <label class="label"> </label>
                <label>Unidad de medida: </label>
                <select class="xs-select" formControlName="measurementUnit">
                    <option></option>
                    <option>Kg</option>
                    <option>litros</option>
                    <option>toneladas</option>
                </select>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Alternativas no químicas</legend>
                <label>Alternativas no químicas: </label>
                <select class="xm-select" formControlName="nonChemicalAlternatives">
                    <option>N/A</option>
                    <option>Atracción y muerte</option>
                    <option>Captura masiva</option>
                    <option>Confusión sexual</option>
                    <option>Lucha biológica</option>
                    <option>Otros</option>
                </select>
                <div *ngIf="!errorForm" class="infoMsg">Si no se ha realizado ningún tratamiento fitosanitario porque se ha efectuado un tratamiento no
                    químico, el sub apartado anterior quedará vacío y se añadirá aquí la alternativa no química. En caso contrario, se seleccionará la opción 'N/A'.</div>
                <div *ngIf="errorForm" class="errorMsg">Si no se ha realizado ningún tratamiento fitosanitario porque se ha efectuado un tratamiento no
                    químico, el sub apartado anterior quedará vacío y se añadirá aquí la alternativa no química. En caso contrario, se seleccionará la opción 'N/A'.</div>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Otros datos</legend>
                <label>Fecha de actuación: </label>
                <input class="sm-input-date" formControlName="date" type="text" placeholder="dd/mm/yyyy" maxlength="10">
                <label class="label"> </label>
                <label>Efectividad: </label>
                <select class="sm-select" formControlName="effectiveness">
                    <option>Buena</option>
                    <option>Mala</option>
                    <option>Regular</option>
                </select><br><br>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifOwnerError"><span class="material-icons" title="No existe un propietario con este NIF">notification_important</span></button>
                <label class="label"> </label>
                <label>NIF técnico asesor: </label>
                <input class="sm-input" formControlName="nifAdviser" type="text" maxlength="9" appOnlyNif>
                <button class="button-errorNif" *ngIf="nifAdviserError"><span class="material-icons" title="No existe un asesor con este NIF">notification_important</span></button>
                <br><br>
                <label>Equipo de tratamiento - Nº de inscripción en el ROMA: </label>
                <input class="smd-input" formControlName="treatmentTeam" type="text" appOnlyNumbers> -
                <input class="smd-input" formControlName="romaNumber" type="text" appOnlyNumbers>
                <br><br>
                <label>Observaciones (*): </label><br>
                <textarea class="bg-input" formControlName="comments" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset-plot">
                <legend>Referencia SigPac</legend>
                <div *ngIf="!plotSelectedError" class="infoMsg2">Debe seleccionar al menos una parcela</div>
                <div *ngIf="plotSelectedError" class="errorMsg2">¡Debe seleccionar al menos una parcela!</div>
                <div class="table">
                    <table mat-table [dataSource]="dataSourceAllPlots">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox 
                                    (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox 
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="orderNumber" class="singleColumn">
                            <th mat-header-cell *matHeaderCellDef> Nº orden </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.orderNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="crop">
                            <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.crop}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="provinceNumber">
                            <th mat-header-cell *matHeaderCellDef> Prov. </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.provinceNumber}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="city">
                            <th mat-header-cell *matHeaderCellDef> Municipio</th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.city}} </td>
                        </ng-container>

                        <ng-container matColumnDef="addition">
                            <th mat-header-cell *matHeaderCellDef> Agre. </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.addition}} </td>
                        </ng-container>

                        <ng-container matColumnDef="zone">
                            <th mat-header-cell *matHeaderCellDef> Zona </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.zone}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="polygon">
                            <th mat-header-cell *matHeaderCellDef> Pol. </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.polygon}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="plot">
                            <th mat-header-cell *matHeaderCellDef> Parc. </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.plot}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="enclosure">
                            <th mat-header-cell *matHeaderCellDef> Rec. </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.enclosure}} </td>
                        </ng-container>

                        <ng-container matColumnDef="cultivatedArea">
                            <th mat-header-cell *matHeaderCellDef> Sup. cult (ha) </th>
                            <td mat-cell *matCellDef="let element" class="columnData"> {{element.cultivatedArea}} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPlots"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPlots;"></tr> 
                    </table>
                </div>
            </fieldset>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formNewPhytosanitaryTreatmentError" class="msg">Los campos con * son opcionales</div>
            <div *ngIf="formNewPhytosanitaryTreatmentError" class="errorMsg">¡Complete todos los campos obligatorios!</div>
            <button class="button-save" (click)="savePhytosanitaryTreatmentDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Edit phytosanitary treatment -->
<div *ngIf="editPhytosanitaryTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formEditPhytosanitaryTreatment">
            <fieldset class="fieldset">
                <legend>Datos de cultivo y plaga</legend>
                <label>Código de tratamiento: </label>
                <input class="bg3-input" formControlName="id" type="text" readonly>
                <br><br>
                <label>Cultivo: </label>
                <input class="bg2-input" formControlName="crop" type="text" readonly>
                <br><br>
                <label>Plaga, enfermedad o mala hierba: </label>
                <input class="xm-input" formControlName="pest" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Justificación de la actuación: </label>
                <input class="md-select-read-only" formControlName="justification" type="text" readonly>
                <label class="label"> </label><br><br>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Tratamientos fitosanitarios</legend>
                <label>Nombre comercial: </label>
                <input class="md-input" formControlName="name" type="text" readonly>
                <label class="label"> </label>
                <label>Nº de registro: </label>
                <input class="sm-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Materia activa: </label>
                <input class="md-input" formControlName="activeMatter" type="text" readonly>
                <label class="label"> </label>
                <label>Nº de lote: </label>
                <input class="smd2-input" formControlName="lotNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Cantidad producto comercial empleado por ha: </label>
                <input class="sm-input" formControlName="amount" type="text">
                <label class="label"> </label>
                <label>Unidad de medida: </label>
                <select class="xs-select" formControlName="measurementUnit">
                    <option></option>
                    <option>Kg</option>
                    <option>litros</option>
                    <option>toneladas</option>
                </select>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Alternativas no químicas</legend>
                <label>Alternativas no químicas: </label>
                <input class="xm-select-read-only" formControlName="nonChemicalAlternatives" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Otros datos</legend>
                <label>Fecha de actuación: </label>
                <input class="sm-input" formControlName="date" type="text">
                <label class="label"> </label>
                <label>Efectividad: </label>
                <select class="sm-select" formControlName="effectiveness">
                    <option>Buena</option>
                    <option>Regular</option>
                    <option>Mala</option>
                </select><br><br>
                <label>NIF aplicador: </label>
                <input class="sm-input" formControlName="nifOwner" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label>
                <label>NIF técnico asesor: </label>
                <input class="sm-input" formControlName="nifAdviser" type="text" maxlength="9" appOnlyNif>
                <label class="label"> </label><br><br>
                <label>Equipo de tratamiento - Nº de inscripción en el ROMA: </label>
                <input class="smd-input" formControlName="treatmentTeam" type="text" appOnlyNumbers> -
                <input class="smd-input" formControlName="romaNumber" type="text" appOnlyNumbers>
                <label class="label"> </label><br><br>
                <label>Observaciones (*): </label><br><br>
                <textarea class="bg-input" formControlName="comments" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
                <label class="label"> </label>
            </fieldset>
        </form>
        <fieldset class="fieldset">
            <legend>Referencia SigPac</legend>
            <div class="plotsList">
                <mat-label>Parcelas asociadas (Nº orden - Cultivo - Superficie cultivada)</mat-label>
                <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
                    <mat-chip class="box" *ngFor="let plot of data.phytosanitaryTreatment.plots">
                        Nº {{plot.orderNumber}} - {{plot.crop}} - {{plot.cultivatedArea}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </fieldset>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div *ngIf="!formEditPhytosanitaryTreatmentError" class="msg">Los campos con * son opcionales</div>
            <div *ngIf="formEditPhytosanitaryTreatmentError" class="errorMsg">¡Complete todos los campos obligatorios!</div>
            <button class="button-save" (click)="updatePhytosanitaryTreatmentDB()"><span class="material-icons" title="Guardar">save</span></button>
        </div>
    </mat-dialog-actions>
</div>

<!-- Delete phytosanitary treatment -->
<div *ngIf="deletePhytosanitaryTreatment">
    <span class="material-icons button-cancel" mat-dialog-close>cancel</span>
    <h1 mat-dialog-title><b>Eliminar tratamiento</b></h1>
    <mat-dialog-content>
        <form [formGroup]="formDeletePhytosanitaryTreatment">
            <fieldset class="fieldset">
                <legend>Datos de cultivo y plaga</legend>
                <label>Código de tratamiento: </label>
                <input class="bg3-input" formControlName="id" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Cultivo: </label>
                <input class="bg2-input" formControlName="crop" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Plaga, enfermedad o mala hierba: </label>
                <input class="xm-input" formControlName="pest" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Justificación de la actuación: </label>
                <input class="md-select-read-only" formControlName="justification" type="text" readonly>
                <label class="label"> </label><br><br>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Tratamientos fitosanitarios</legend>
                <label>Nombre comercial: </label>
                <input class="md-input" formControlName="name" type="text" readonly>
                <label class="label"> </label>
                <label>Nº de registro: </label>
                <input class="sm-input" formControlName="registryNumber" type="text" readonly>
                <label class="label"> </label><br><br>
                <label>Materia activa: </label>
                <input class="md-input" formControlName="activeMatter" type="text" readonly>
                <label class="label"> </label>
                <label>Nº de lote: </label>
                <input class="smd2-input" formControlName="lotNumber" type="text" readonly>
                <label class="label"> </label><br><br>
            </fieldset>
            <fieldset class="fieldset">
                <legend>Alternativas no químicas</legend>
                <label>Alternativas no químicas: </label>
                <input class="xm-select-read-only" formControlName="nonChemicalAlternatives" type="text" readonly>
                <label class="label"> </label>
            </fieldset>
        </form>
        <fieldset class="fieldset">
            <legend>Referencia SigPac</legend>
            <div class="plotsList">
                <mat-label>Parcelas asociadas (Nº orden - Cultivo - Superficie cultivada)</mat-label>
                <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
                    <mat-chip class="box" *ngFor="let plot of data.phytosanitaryTreatment.plots">
                        Nº {{plot.orderNumber}} - {{plot.crop}} - {{plot.cultivatedArea}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </fieldset>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <div class="errorMsg">¡Se eliminarán los datos del registro del tratamiento fitosanitario!</div>
            <button class="button-delete" title="Eliminar" (click)="deletePhytosanitaryTreatmentDB()"><span class="material-icons">delete</span></button>
        </div>
    </mat-dialog-actions>
</div>